{% extends 'admin/layouts/card.html.twig' %}

{% block card_title 'Mon profil' %}

{% block card_style '' %}

{% block card_body %}

    {% include 'partials/flash.html.twig' %}

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
        <div class="col-span-2 bg-white px-4 py-5 shadow rounded-lg sm:py-6 sm:px-8">
            {{ form_start(formUser) }}
            <h2 class="text-xl text-primary-600 font-semibold leading-7">
                Informations personnelles
            </h2>
            {#            <div class="border border-primary-200 mt-1 mb-6"></div> #}


            <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-3">
                <div class="col-span-full sm:col-span-1">
                    {{ form_row(formUser.fullname, {
                        'attr': {
                            'class': 'form-input-md'
                        },
                        'label': 'Nom complet',
                        'label_attr': {
                            'class': 'label'
                        }
                    }) }}
                </div>

                <div class="col-span-full sm:col-span-1">
                    {{ form_row(formUser.phone, {
                        'attr': {
                            'class': 'form-input-md'
                        },
                        'label': 'Numéro de téléphone',
                        'label_attr': {
                            'class': 'label'
                        }
                    }) }}
                </div>

                <div class="sm:col-span-full">
                    {{ form_row(formUser.email, {
                        'attr': {
                            'class': 'form-input-md'
                        },
                        'label': 'Adresse e-mail',
                        'label_attr': {
                            'class': 'label'
                        }
                    }) }}
                </div>


                <div class="sm:col-span-full">
                    {{ form_row(formUser.dateOfBirthday, {
                        'attr': {
                            'class': 'flatpickr-date-birthday form-input-md'
                        },
                        'label': 'Date de naissance',
                        'label_attr': {
                            'class': 'label',
                        }
                    }) }}
                </div>

                <div class="col-span-full">
                    {{ form_row(formUser.avatarFile) }}
                </div>

                <!-- submit btn at right -->
                <div class="sm:col-span-full border-t border-gray-200 pt-5">
                    <div class="flex justify-end">
                        <button type="submit" class="btn btn-md btn-primary">
                            {{ icon('save') }}
                            <span>Enregistrer</span>
                        </button>
                    </div>
                </div>

            </div>
            {{ form_end(formUser) }}
        </div>

        <div class="col-span-1 bg-white px-4 py-5 shadow rounded-lg sm:p-6">
            <h2 class="text-xl text-primary-600 font-semibold leading-7">
                Photo de profil
            </h2>
            {#            <div class="border border-primary-200 mt-1 mb-6"></div> #}
            <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-3 sm:grid-cols-6">
            </div>
        </div>
    </div>



{% endblock %}
