<nav id="header" class="header">
    <ul class="header_nav">
        <li class="header_home">
            <a href="">
                <img src="{{ asset('images/app-logo.svg') }}" alt="logo" height="20px" width="20px">
            </a>
        </li>
        <li>
            <a href="{{ path('app_home') }}">Home</a>
        </li>
        <li>
            <a href="">About Us</a>
        </li>
        <li>
            <a href="{{ path('app_contact') }}">Contact Us</a>
        </li>
    </ul>
    <ul class="header-side">
        {% if app.user %}
            <li>
                <a href="{{ path('app_admin_home') }}">Admin</a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}">Logout</a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('app_login') }}">Login</a>
            </li>
            <li>
                <a href="{{ path('app_register') }}">Register</a>
            </li>
        {% endif %}
    </ul>
</nav>