<nav class="bg-white top-0 left-0 shadow-md py-2 md:py4 fixed w-full z-50"
     id="navbar">
    <div class="container px-4 mx-auto lg:flex lg:items-center">

        <div class="flex justify-between items-center">
            <a href="{{ path('app_home') }}" class="font-bold text-xl text-indigo-600">Hair Style.</a>
            <div class="px-3 py-1 text-gray-600 lg:hidden text-xl cursor-pointer" id="navbar-toggle">
                <i class="transition-transform duration-200 ease-linear transform rotate-0 fas fa-bars"
                   id="navbar-toggle-icon"></i>
            </div>
        </div>

        <div class="hidden lg:flex flex-col lg:flex-row lg:ml-auto mt-3 md:mt-0 transition-all duration-3000"
             id="navbar-collapse">
            <a href="#" class="p-2 lg:px-4 md:mx-2 text-white rounded bg-indigo-600">Accueil</a>
            <a href="#"
               class="p-2 lg:px-4 md:mx-2 text-gray-600 rounded hover:bg-gray-200 hover:text-gray-700 transition-colors duration-300">
                A propos
            </a>
            <a href="#"
               class="p-2 lg:px-4 md:mx-2 text-gray-600 rounded hover:bg-gray-200 hover:text-gray-700 transition-colors duration-300">
                Tarifs
            </a>
            <a href="#"
               class="p-2 lg:px-4 md:mx-2 text-gray-600 rounded hover:bg-gray-200 hover:text-gray-700 transition-colors duration-300">
                Prestations
            </a>
            <a href="#"
               class="p-2 lg:px-4 md:mx-2 text-gray-600 rounded hover:bg-gray-200 hover:text-gray-700 transition-colors duration-300">
                Contact
            </a>
            {% if app.user %}
                <a href="{{ path('app_admin_home') }}"
                   class="p-2 lg:px-4 md:mx-2 text-indigo-600 text-center border border-transparent rounded hover:bg-indigo-100 hover:text-indigo-700 transition-colors duration-300">Dashboard</a>
                <a href="{{ path('app_logout') }}"
                   class="p-2 lg:px-4 md:mx-2 text-red-600 text-center border border-transparent rounded hover:bg-red-100 hover:text-red-700 transition-colors duration-300">
                    Se déconnecter
                </a>
            {% else %}
                <a href="{{ path('app_login') }}"
                   class="p-2 lg:px-4 md:mx-2 text-indigo-600 text-center border border-transparent rounded hover:bg-indigo-100 hover:text-indigo-700 transition-colors duration-300">
                    Espace client
                </a>
                <a href="{{ path('app_register') }}"
                   class="p-2 lg:px-4 md:mx-2 text-indigo-600 text-center border border-solid border-indigo-600 rounded hover:bg-indigo-600 hover:text-white transition-colors duration-300 mt-1 md:mt-0 md:ml-1">
                    Prendre rendez-vous
                </a>
            {% endif %}
        </div>
    </div>
</nav>