<nav id="header" class="header">
    <ul class="header_nav">
        <li class="header_home">
            <a href="{{ path('app_home') }}" {{ menu_active_aria('app_home') }}>
                {{ icon('home') }}
            </a>
        </li>
        <li>
            <a href="{{ path('app_prestation_list') }}"
                    {{ menu_active_aria('app_prestation_list') }}
            >
                {{ icon('helping-hand', 15) }}
                Services
            </a>
        </li>
        <li>
            <a href="">
                {{ icon('briefcase', 15) }}
                Réalisations
            </a>
        </li>
        <li>
            <a href="{{ path('app_contact') }}" {{ menu_active_aria('app_contact') }}>
                {{ icon('mail', 15) }}
                Contact
            </a>
        </li>
        <li>
            <a href="">
                {{ icon('info', 15) }}
                A propos
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="text-orange-600">
                <a href="{{ path('app_admin_home') }}">
                    {{ icon('gauge', 15) }}
                    Dashboard
                </a>
            </li>
        {% endif %}
    </ul>
    <ul class="header-side">
        <li class="header-side-auth">
            {% if app.user %}
                <a href="{{ path('app_profile') }}">
                    {{ icon('user', 15) }}
                    Mon compte
                </a>
                <span class="text-muted">·</span>
                <a href="{{ path('app_logout') }}" class="text-red-900 inline-block">
                    {{ icon('log-out', 14) }}
                </a>
            {% else %}
                <a href="{{ path('app_register') }}" {{ menu_active_aria('app_register') }}>
                    {{ icon('user-plus', 15) }}
                    S'inscrire</a>
                <span class="text-muted">·</span>
                <a href="{{ path('app_login') }}" {{ menu_active_aria('app_login') }}>Se connecter</a>
            {% endif %}
        </li>
        <li class="header-burger">
            <button id="header-hamburger">
                <span>
                Afficher le menu
                </span>
            </button>
        </li>
    </ul>
</nav>