<nav id="header" class="header">
    <ul class="header_nav">
        <li class="header_home">
            <a href="{{ path('app_home') }}" {{ header_menu_active('app_home') }}>
                {{ icon('home') }}
            </a>
        </li>
        <li>
            <a href="">A propos</a>
        </li>
        <li>
            <a href="{{ path('app_contact') }}" {{ header_menu_active('app_contact') }}>Contact</a>
        </li>
    </ul>
    <ul class="header-side">
        <li class="header-side-auth">
            {% if app.user %}
                <a href="{{ path('app_admin_home') }}">Admin</a>
                <a href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('app_register') }}">S'inscrire</a>
                <span class="text-muted">·</span>
                <a href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </li>
        <li class="header-burger">
            <button id="header-hamburger">
                <span>
                Afficher le menu
                </span>
            </button>
        </li>
    </ul>
</nav>