<nav id="header" class="header">
    <ul class="header_nav">
        <li class="header_home">
            <a href="{{ path('app_home') }}" {{ menu_active_aria('app_home') }}>
                {{ icon('home') }}
            </a>
        </li>
        <li>
            <a href="" class="flex items-center">A propos</a>
        </li>
        <li>
            <a href="" class="flex items-center">Services</a>
        </li>
        <li>
            <a href="" class="flex items-center">Réalisations</a>
        </li>
        <li>
            <a href="{{ path('app_contact') }}" {{ menu_active_aria('app_contact') }}>Contact</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class="text-orange-600">
            <a href="{{ path('app_admin_home') }}">Dashboard</a>
        </li>
        {% endif %}
    </ul>
    <ul class="header-side">
        <li class="header-side-auth">
            {% if app.user %}
                <a href="{{ path('app_profile') }}">Mon compte</a>
                <span class="text-muted">·</span>
                <a href="{{ path('app_logout') }}" class="text-red-900 inline-block">
                    {{ icon('log-out', 12) }}
                </a>
            {% else %}
                <a href="{{ path('app_register') }}" {{ menu_active_aria('app_register') }}>S'inscrire</a>
                <span class="text-muted">·</span>
                <a href="{{ path('app_login') }}" {{ menu_active_aria('app_login') }}>Se connecter</a>
            {% endif %}
        </li>
        <li class="header-burger">
            <button id="header-hamburger">
                <span>
                Afficher le menu
                </span>
            </button>
        </li>
    </ul>
</nav>