<nav class="sticky top-0 left-0 z-50 w-full bg-white/80 py-2 shadow-md backdrop-blur md:py4"
     id="navbar">
    <div class="container mx-auto px-4 lg:flex lg:items-center">

        <div class="flex items-center justify-between">
            <a href="{{ path('app_home') }}" class="text-xl font-bold text-primary-600">Hair Style.</a>
            <div class="cursor-pointer px-3 py-1 text-xl text-gray-600 lg:hidden" id="navbar-toggle">
                <i class="rotate-0 transform transition-transform duration-200 ease-linear fas fa-bars"
                   id="navbar-toggle-icon"></i>
            </div>
        </div>

        <div class="mt-3 hidden flex-col gap-3 text-lg transition-all duration-3000 md:mt-0 lg:ml-auto lg:flex lg:flex-row lg:gap-0 lg:text-base"
             id="navbar-collapse">
            <a href="#" class="rounded bg-primary-600 p-2 text-white md:mx-2 lg:px-4">Accueil</a>
            <a href="#"
               class="rounded p-2 text-gray-600 transition-colors duration-300 hover:bg-gray-200 hover:text-gray-700 md:mx-2 lg:px-4">
                A propos
            </a>
            <a href="#"
               class="rounded p-2 text-gray-600 transition-colors duration-300 hover:bg-gray-200 hover:text-gray-700 md:mx-2 lg:px-4">
                Tarifs
            </a>
            <a href="#"
               class="rounded p-2 text-gray-600 transition-colors duration-300 hover:bg-gray-200 hover:text-gray-700 md:mx-2 lg:px-4">
                Prestations
            </a>
            <a href="#"
               class="rounded p-2 text-gray-600 transition-colors duration-300 hover:bg-gray-200 hover:text-gray-700 md:mx-2 lg:px-4">
                Contact
            </a>
            {% if app.user %}
                <a href="{{ path('app_admin_home') }}"
                   class="rounded border border-transparent p-2 text-center text-primary-600 transition-colors duration-300 hover:bg-primary-100 hover:text-primary-700 md:mx-2 lg:px-4">Dashboard</a>
                <a href="{{ path('app_logout') }}"
                   class="rounded border border-transparent p-2 text-center text-red-600 transition-colors duration-300 hover:bg-red-100 hover:text-red-700 md:mx-2 lg:px-4">
                    Se déconnecter
                </a>
            {% else %}
                <a href="{{ path('app_login') }}"
                   class="rounded border border-transparent p-2 text-center text-primary-600 transition-colors duration-300 hover:bg-primary-100 hover:text-primary-700 md:mx-2 lg:px-4">
                    Espace client
                </a>
                <a href="{{ path('app_register') }}"
                   class="mt-1 rounded border border-solid border-primary-600 p-2 text-center text-primary-600 transition-colors duration-300 hover:bg-primary-600 hover:text-white md:mx-2 md:mt-0 md:ml-1 lg:px-4">
                    Prendre rendez-vous
                </a>
            {% endif %}
        </div>
    </div>
</nav>
