{% extends 'admin/layouts/card_settings.html.twig' %}

 {% block card_title %}Roles{% endblock %}

 {% block card_actions %}
     {% if is_granted('can_manage_roles') %}
         <a href="{{ path('app_admin_settings_roles_create') }}" class="btn btn-primary">Ajouter</a>
     {% endif %}
 {% endblock %}

 {% block card_body %}

     <table class="table table-striped table-hover">
         <thead>
         <tr>
             <th scope="col">Role</th>
             <th scope="col">Identifiant</th>
             <th scope="col">Actions</th>
         </tr>
         </thead>
         <tbody>
         {% for role in roles %}
             <tr>
                 <td>{{ role.displayName }}</td>
                 <td class="text-lowercase">{{ role.name }}</td>
                 <td>
                     {% if is_granted('can_manage_roles') %}
                         <a href="{{ path('app_admin_settings_roles_edit', {'id': role.id}) }}"
                            class="btn btn-sm btn-outline-primary">
                             {{ icon('edit', 'lg') }}
                         </a>
                         <a href="{{ path('app_admin_settings_roles_delete', {'id': role.id}) }}"
                            class="btn btn-sm btn-outline-danger">
                             {{ icon('trash', 'lg') }}
                         </a>
                     {% endif %}
                 </td>
             </tr>
         {% endfor %}
         </tbody>
     </table>
 {% endblock %}



