{% extends 'base_simple.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}
    <div class="page__auth">
            {{ form_start(registrationForm, {
                attr: {
                    class: 'card__auth'
                }
            }) }}
            <!-- card header -->
            <div class="card__auth-header">
                <h3 class="card__auth-title">Inscription</h3>
                <p class="card__auth-subtitle">
                    Créer votre compte pour gérer vos rendez-vous
                </p>
            </div>

            {#            <div class="text-center mb-3">#}
            {#                <p>#}
            {#                    Se connecter avec:#}
            {#                </p>#}
            {#                <button type="button" class="btn btn-link btn-floating mx-1">#}
            {#                    <img src="{{ asset('icons/line-awesome/svg/facebook.svg') }}" alt="facebook" width="30px">#}
            {#                </button>#}

            {#                <button type="button" class="btn btn-link btn-floating mx-1">#}
            {#                    <img src="{{ asset('icons/line-awesome/svg/google.svg') }}" alt="google" width="30px">#}
            {#                </button>#}

            {#                <button type="button" class="btn btn-link btn-floating mx-1">#}
            {#                    <img src="{{ asset('icons/line-awesome/svg/twitter.svg') }}" alt="twitter" width="30px">#}
            {#                </button>#}

            {#                <button type="button" class="btn btn-link btn-floating mx-1">#}
            {#                    <img src="{{ asset('icons/line-awesome/svg/github.svg') }}" alt="github" width="30px">#}
            {#                </button>#}
            {#            </div>#}

            {#            <p class="text-center">ou:</p>#}

            <!-- Error message -->
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <!-- Full Name -->
            {{ form_row(registrationForm.fullname, {
                label: 'Nom complet',
                attr: {
                    class: 'form-control mb-4'
                }
            }) }}

            <!-- Numéro de téléphone -->
            {{ form_row(registrationForm.phone, {
                label: 'Numéro de téléphone',
                attr: {
                    class: 'form-control mb-4'
                }
            }) }}

            <!-- Email -->
            {{ form_row(registrationForm.email,
                {
                    label: 'Email',
                    attr: {
                    class: 'form-control mb-4'
                }
                }
            ) }}

            <!-- Password -->
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                attr: {
                    class: 'form-control mb-4'
                }
            }) }}


            <div class="form-checkbox mb-4">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
                Je m'inscris
            </button>

            <!-- Login buttons -->
            <div class="text-center">
                <p>
                    Vous avez déjà un compte?
                    <a href="{{ path('app_login') }}">Se connecter</a>
                </p>
            </div>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
