{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <section class="container py-10 bg-white dark:bg-gray-900">
        <div class="stack w-full max-w-2xl mx-auto">
            <h2 class="h2 text-center">
                Me contacter
            </h2>
            <p class="font-light text-center text-muted text-base">
                Problème technique ? As-tu une question ? Une suggestion ? <br>
                Laisse-moi un message.
            </p>

            {{ include('partials/flash.html.twig') }}

            {{ form_start(form,
                {'attr': {'class': 'stack'}}
            ) }}

            <div class="grid2">
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
            </div>

            {{ form_row(form.subject) }}
            {{ form_row(form.message) }}
            <div class="text-end mt-2">
                <button type="submit" class="btn-md btn-primary">
                    <span>Envoyer le message</span>
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}
