{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {#    <div class="w-full min-h-screen text-gray-900"> #}
    {#        #}{#  or pink [#FEE6F7] to-white"> #}
    {#        <div class="bg-gradient-to-b from-[#e3c7ff] to-white"> #}
    {#            <div class="px-6 mx-auto max-w-6xl h-20"> #}
    {#                <div class="flex justify-between items-center py-10"> #}
    {#                    <a href="" #}
    {#                       class="text-2xl font-bold text-slate-900 hover:text-primary-700">Book<span #}
    {#                                class="text-primary-700">App</span></a> #}

    {#                    <nav class="flex items-center space-x-10"> #}
    {#                        <a href="" class="text-slate-700">Solutions</a> #}
    {#                        <a href="" class="text-slate-700">Tarifs</a> #}
    {#                        <a href="" class="text-slate-700">Contact</a> #}
    {#                        <a href="" class="text-slate-700">FAQ</a> #}
    {#                        <a href="" class="text-primary-700">Démo</a> #}
    {#                    </nav> #}
    {#                </div> #}
    {#            </div> #}

    {#            <div class="px-6 mx-auto max-w-6xl flex"> #}
    {#                <div class="pt-24 pr-8 w-1/2"> #}
    {#                    <h1 class="text-6xl font-bold">Learn all the basics of coding.</h1> #}
    {#                    <p class="pt-8 text-xl leading-relaxed text-gray-500"> #}
    {#                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid animi atque autem #}
    {#                        consectetur consequuntur cumque, delectus doloremque doloribus ducimus ea eius eligendi eos #}
    {#                        error #}
    {#                    </p> #}
    {#                    <div class="pt-12 flex items-center space-x-6"> #}
    {#                        <a href="" class="btn-md btn-primary">{{ icon('calendar-plus') }} <span class="ml-2">Prendre rendez-vous</span></a> #}
    {#                        <a href="" class="btn-md btn-secondary">Mes réalisations</a> #}
    {#                    </div> #}
    {#                </div> #}
    {#                <div class="pt-24 w-1/2"> #}
    {#                    <img src="{{ asset('images/illustrations/haircut-illustration-1.svg') }}" alt="hero" class="w-full"> #}
    {#                </div> #}
    {#            </div> #}
    {#        </div> #}
    {#    </div> #}


    <div class="w-full min-h-screen text-gray-900">
        <div class="bg-gradient-to-b from-[#e3c7ff] to-white">
            <header>
                <nav class="z-10 w-full absolute">
                    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
                        <div class="flex flex-wrap items-center justify-between py-2 gap-6 md:py-4 md:gap-0 relative">
                            <input aria-hidden="true" type="checkbox" name="toggle_nav" id="toggle_nav"
                                   class="hidden peer">
                            <div class="relative z-20 w-full flex justify-between lg:w-max md:px-0">
                                <a href="" aria-label="logo" class="flex space-x-2 items-center">
                                    <div aria-hidden="true" class="flex space-x-1">
                                        <div class="h-4 w-4 rounded-full bg-gray-900 dark:bg-white"></div>
                                        <div class="h-6 w-2 bg-primary"></div>
                                    </div>
                                    <span class="text-2xl font-bold text-gray-900 dark:text-white">BookApp</span>
                                </a>

                                <div class="relative flex items-center lg:hidden max-h-10">
                                    <label role="button" for="toggle_nav" aria-label="humburger" id="hamburger"
                                           class="relative  p-6 -mr-6">
                                        <div aria-hidden="true" id="line"
                                             class="m-auto h-0.5 w-5 rounded bg-sky-900 dark:bg-gray-300 transition duration-300"></div>
                                        <div aria-hidden="true" id="line2"
                                             class="m-auto mt-2 h-0.5 w-5 rounded bg-sky-900 dark:bg-gray-300 transition duration-300"></div>
                                    </label>
                                </div>
                            </div>
                            <div aria-hidden="true"
                                 class="fixed z-10 inset-0 h-screen w-screen bg-white/70 backdrop-blur-2xl origin-bottom scale-y-0 transition duration-500 peer-checked:origin-top peer-checked:scale-y-100 lg:hidden dark:bg-gray-900/70"></div>
                            <div class="flex-col z-20 flex-wrap gap-6 p-8 rounded-3xl border border-gray-100 bg-white shadow-2xl shadow-gray-600/10 justify-end w-full invisible opacity-0 translate-y-1  absolute top-full left-0 transition-all duration-300 scale-95 origin-top
                            lg:relative lg:scale-100 lg:peer-checked:translate-y-0 lg:translate-y-0 lg:flex lg:flex-row lg:items-center lg:gap-0 lg:p-0 lg:bg-transparent lg:w-7/12 lg:visible lg:opacity-100 lg:border-none
                            peer-checked:scale-100 peer-checked:opacity-100 peer-checked:visible lg:shadow-none
                            dark:shadow-none dark:bg-gray-800 dark:border-gray-700">

                                <div class="text-gray-600 dark:text-gray-300 lg:pr-4 lg:w-auto w-full lg:pt-0">
                                    <ul class="tracking-wide font-medium lg:text-sm flex-col flex lg:flex-row gap-6 lg:gap-0">
                                        <li>
                                            <a href="#features" class="block md:px-4 transition hover:text-primary">
                                                <span>Prestations</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#solution" class="block md:px-4 transition hover:text-primary">
                                                <span>Abonnements</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#testimonials" class="block md:px-4 transition hover:text-primary">
                                                <span>Contact</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#blog" class="block md:px-4 transition hover:text-primary">
                                                <span>Blog</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="mt-12 lg:mt-0">
                                    <a
                                            href="#"
                                            class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                                    >
                            <span class="relative text-sm font-semibold text-white"
                            >Espace client</span
                            >
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="px-6 mx-auto max-w-6xl flex">
                <div class="pt-24 pr-8 w-1/2">
                    <h1 class="text-6xl font-bold">Learn all the basics of coding.</h1>
                    <p class="pt-8 text-xl leading-relaxed text-gray-500">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid animi atque autem
                        consectetur consequuntur cumque, delectus doloremque doloribus ducimus ea eius eligendi eos
                        error
                    </p>
                    <div class="pt-12 flex items-center space-x-6">
                        <a href="" class="btn-md btn-primary">{{ icon('calendar-plus') }} <span class="ml-2">Prendre rendez-vous</span></a>
                        <a href="" class="btn-md btn-secondary">Mes réalisations</a>
                    </div>
                </div>
                <div class="pt-24 w-1/2">
                    <img src="{{ asset('images/illustrations/haircut-illustration-1.svg') }}" alt="hero" class="w-full">
                </div>
            </div>
        </div>
    </div>

    <header>
        <nav class="z-10 w-full absolute">
            <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
                <div class="flex flex-wrap items-center justify-between py-2 gap-6 md:py-4 md:gap-0 relative">
                    <input aria-hidden="true" type="checkbox" name="toggle_nav" id="toggle_nav" class="hidden peer">
                    <div class="relative z-20 w-full flex justify-between lg:w-max md:px-0">
                        <a href="" aria-label="logo" class="flex space-x-2 items-center">
                            <div aria-hidden="true" class="flex space-x-1">
                                <div class="h-4 w-4 rounded-full bg-gray-900 dark:bg-white"></div>
                                <div class="h-6 w-2 bg-primary"></div>
                            </div>
                            <span class="text-2xl font-bold text-gray-900 dark:text-white">BookApp</span>
                        </a>

                        <div class="relative flex items-center lg:hidden max-h-10">
                            <label role="button" for="toggle_nav" aria-label="humburger" id="hamburger"
                                   class="relative  p-6 -mr-6">
                                <div aria-hidden="true" id="line"
                                     class="m-auto h-0.5 w-5 rounded bg-sky-900 dark:bg-gray-300 transition duration-300"></div>
                                <div aria-hidden="true" id="line2"
                                     class="m-auto mt-2 h-0.5 w-5 rounded bg-sky-900 dark:bg-gray-300 transition duration-300"></div>
                            </label>
                        </div>
                    </div>
                    <div aria-hidden="true"
                         class="fixed z-10 inset-0 h-screen w-screen bg-white/70 backdrop-blur-2xl origin-bottom scale-y-0 transition duration-500 peer-checked:origin-top peer-checked:scale-y-100 lg:hidden dark:bg-gray-900/70"></div>
                    <div class="flex-col z-20 flex-wrap gap-6 p-8 rounded-3xl border border-gray-100 bg-white shadow-2xl shadow-gray-600/10 justify-end w-full invisible opacity-0 translate-y-1  absolute top-full left-0 transition-all duration-300 scale-95 origin-top
                            lg:relative lg:scale-100 lg:peer-checked:translate-y-0 lg:translate-y-0 lg:flex lg:flex-row lg:items-center lg:gap-0 lg:p-0 lg:bg-transparent lg:w-7/12 lg:visible lg:opacity-100 lg:border-none
                            peer-checked:scale-100 peer-checked:opacity-100 peer-checked:visible lg:shadow-none
                            dark:shadow-none dark:bg-gray-800 dark:border-gray-700">

                        <div class="text-gray-600 dark:text-gray-300 lg:pr-4 lg:w-auto w-full lg:pt-0">
                            <ul class="tracking-wide font-medium lg:text-sm flex-col flex lg:flex-row gap-6 lg:gap-0">
                                <li>
                                    <a href="#features" class="block md:px-4 transition hover:text-primary">
                                        <span>Prestations</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#solution" class="block md:px-4 transition hover:text-primary">
                                        <span>Abonnements</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#testimonials" class="block md:px-4 transition hover:text-primary">
                                        <span>Contact</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#blog" class="block md:px-4 transition hover:text-primary">
                                        <span>Blog</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="mt-12 lg:mt-0">
                            <a
                                    href="#"
                                    class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                            >
                            <span class="relative text-sm font-semibold text-white"
                            >Espace client</span
                            >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="relative" id="home">
        <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 opacity-40 -space-x-52 dark:opacity-20">
            <div class="h-56 bg-gradient-to-br to-purple-400 blur-[106px] from-primary dark:from-blue-700"></div>
            <div class="h-32 bg-gradient-to-r from-cyan-400 to-sky-300 blur-[106px] dark:to-indigo-600"></div>
        </div>
        <div class="mx-auto max-w-7xl px-6 md:px-12 xl:px-6">
            <div class="relative ml-auto pt-36">
                <div class="mx-auto text-center lg:w-2/3">
                    <h1 class="text-5xl font-bold text-gray-900 dark:text-white md:text-6xl xl:text-7xl">Shaping a world
                        with <span class="text-primary dark:text-white">reimagination.</span></h1>
                    <p class="mt-8 text-gray-700 dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Odio incidunt nam itaque sed eius modi error totam sit illum. Voluptas doloribus
                        asperiores quaerat aperiam. Quidem harum omnis beatae ipsum soluta!</p>
                    <div class="mt-16 flex flex-col sm:flex-row flex-wrap justify-center gap-x-6 gap-y-4">
                        <a href="" class="btn-md btn-primary">
                            {{ icon('calendar-plus') }}
                            <span class="ml-2">Prendre rendez-vous</span>
                        </a>
                        <a href="" class="btn-md btn-link">
                            <span class="">En savoir plus</span>
                        </a>
                    </div>
                    <div class="mt-16 hidden justify-between border-y border-gray-100 py-8 dark:border-gray-800 sm:flex">
                        <div class="text-left">
                            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The lowest price</h6>
                            <p class="mt-2 text-gray-500">Some text here</p>
                        </div>
                        <div class="text-left">
                            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The fastest on the
                                market</h6>
                            <p class="mt-2 text-gray-500">Some text here</p>
                        </div>
                        <div class="text-left">
                            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The most loved</h6>
                            <p class="mt-2 text-gray-500">Some text here</p>
                        </div>
                    </div>
                </div>
                <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        {#                    <img src="./images/clients/microsoft.svg" class="mx-auto h-12 w-auto" loading="lazy" alt="client logo" width="" height="" /> #}
                    </div>
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        {#                    <img src="./images/clients/airbnb.svg" class="mx-auto h-12 w-auto" loading="lazy" alt="client logo" width="" height="" /> #}
                    </div>
                    <div class="flex p-4 grayscale transition duration-200 hover:grayscale-0">
                        {#                    <img src="./images/clients/google.svg" class="m-auto h-9 w-auto" loading="lazy" alt="client logo" width="" height="" /> #}
                    </div>
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        {#                    <img src="./images/clients/ge.svg" class="mx-auto h-12 w-auto" loading="lazy" alt="client logo" width="" height="" /> #}
                    </div>
                    <div class="flex p-4 grayscale transition duration-200 hover:grayscale-0">
                        {#                    <img src="./images/clients/netflix.svg" class="m-auto h-8 w-auto" loading="lazy" alt="client logo" width="" height="" /> #}
                    </div>
                    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                        {#                    <img src="./images/clients/google-cloud.svg" class="mx-auto h-12 w-auto" loading="lazy" alt="client logo" width="" height="" /> #}
                    </div>
                </div>

                <div class="max-w-sm mx-auto grid gap-6 lg:grid-cols-3 items-start lg:max-w-none group mt-4 mb-20 bg-slate-900 px-4 py-10"
                     data-spotlight>

                    <!-- Card 1 -->
                    <div class="relative h-full bg-slate-800 rounded-3xl p-px before:absolute before:w-80 before:h-80 before:-left-40 before:-top-40 before:bg-slate-400 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:group-hover:opacity-100 before:z-10 before:blur-[100px] before:bg-primary-700 after:absolute after:w-96 after:h-96 after:-left-48 after:-top-48 after:bg-primary-500 after:rounded-full after:opacity-0 after:pointer-events-none after:transition-opacity after:duration-500 after:translate-x-[var(--mouse-x)] after:translate-y-[var(--mouse-y)] after:hover:opacity-10 after:z-30 after:blur-[100px] overflow-hidden">
                        <div class="relative h-full bg-slate-900 p-6 pb-8 rounded-[inherit] z-20 overflow-hidden">
                            <!-- Radial gradient -->
                            <div class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/2 aspect-square"
                                 aria-hidden="true">
                                <div class="absolute inset-0 translate-z-0 bg-slate-800 rounded-full blur-[80px]"></div>
                            </div>
                            <div class="flex flex-col h-full items-center text-center">
                                <!-- Image -->
                                <div class="relative inline-flex">
                                    <div class="w-[40%] h-[40%] absolute inset-0 m-auto -translate-y-[10%] blur-3xl -z-10 rounded-full bg-indigo-600"
                                         aria-hidden="true"></div>
                                    <img class="inline-flex" src="./card-01.png" width="200" height="200"
                                         alt="Card 01"/>
                                </div>
                                <!-- Text -->
                                <div class="grow mb-5">
                                    <h2 class="text-xl text-slate-200 font-bold mb-1">Amazing Integration</h2>
                                    <p class="text-sm text-slate-500">Quickly apply filters to refine your issues lists
                                        and create custom views.</p>
                                </div>
                                <a class="inline-flex justify-center items-center whitespace-nowrap rounded-lg bg-slate-800 hover:bg-slate-900 border border-slate-700 px-3 py-1.5 text-sm font-medium text-slate-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600 transition-colors duration-150"
                                   href="#0">
                                    <svg class="fill-slate-500 mr-2" xmlns="http://www.w3.org/2000/svg" width="16"
                                         height="14">
                                        <path d="M12.82 8.116A.5.5 0 0 0 12 8.5V10h-.185a3 3 0 0 1-2.258-1.025l-.4-.457-1.328 1.519.223.255A5 5 0 0 0 11.815 12H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM12.82.116A.5.5 0 0 0 12 .5V2h-.185a5 5 0 0 0-3.763 1.708L3.443 8.975A3 3 0 0 1 1.185 10H1a1 1 0 1 0 0 2h.185a5 5 0 0 0 3.763-1.708l4.609-5.267A3 3 0 0 1 11.815 4H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM1 4h.185a3 3 0 0 1 2.258 1.025l.4.457 1.328-1.52-.223-.254A5 5 0 0 0 1.185 2H1a1 1 0 0 0 0 2Z"/>
                                    </svg>
                                    <span>Connect</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="relative h-full bg-slate-800 rounded-3xl p-px before:absolute before:w-80 before:h-80 before:-left-40 before:-top-40 before:bg-slate-400 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:group-hover:opacity-100 before:z-10 before:blur-[100px] after:absolute after:w-96 after:h-96 after:-left-48 after:-top-48 after:bg-indigo-500 after:rounded-full after:opacity-0 after:pointer-events-none after:transition-opacity after:duration-500 after:translate-x-[var(--mouse-x)] after:translate-y-[var(--mouse-y)] after:hover:opacity-10 after:z-30 after:blur-[100px] overflow-hidden">
                        <div class="relative h-full bg-slate-900 p-6 pb-8 rounded-[inherit] z-20 overflow-hidden">
                            <!-- Radial gradient -->
                            <div class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/2 aspect-square"
                                 aria-hidden="true">
                                <div class="absolute inset-0 translate-z-0 bg-slate-800 rounded-full blur-[80px]"></div>
                            </div>
                            <div class="flex flex-col h-full items-center text-center">
                                <!-- Image -->
                                <div class="relative inline-flex">
                                    <div class="w-[40%] h-[40%] absolute inset-0 m-auto -translate-y-[10%] blur-3xl -z-10 rounded-full bg-indigo-600"
                                         aria-hidden="true"></div>
                                    <img class="inline-flex" src="./card-02.png" width="200" height="200"
                                         alt="Card 02"/>
                                </div>
                                <!-- Text -->
                                <div class="grow mb-5">
                                    <h2 class="text-xl text-slate-200 font-bold mb-1">Amazing Integration</h2>
                                    <p class="text-sm text-slate-500">Quickly apply filters to refine your issues lists
                                        and create custom views.</p>
                                </div>
                                <a class="inline-flex justify-center items-center whitespace-nowrap rounded-lg bg-slate-800 hover:bg-slate-900 border border-slate-700 px-3 py-1.5 text-sm font-medium text-slate-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600 transition-colors duration-150"
                                   href="#0">
                                    <svg class="fill-slate-500 mr-2" xmlns="http://www.w3.org/2000/svg" width="16"
                                         height="14">
                                        <path d="M12.82 8.116A.5.5 0 0 0 12 8.5V10h-.185a3 3 0 0 1-2.258-1.025l-.4-.457-1.328 1.519.223.255A5 5 0 0 0 11.815 12H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM12.82.116A.5.5 0 0 0 12 .5V2h-.185a5 5 0 0 0-3.763 1.708L3.443 8.975A3 3 0 0 1 1.185 10H1a1 1 0 1 0 0 2h.185a5 5 0 0 0 3.763-1.708l4.609-5.267A3 3 0 0 1 11.815 4H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM1 4h.185a3 3 0 0 1 2.258 1.025l.4.457 1.328-1.52-.223-.254A5 5 0 0 0 1.185 2H1a1 1 0 0 0 0 2Z"/>
                                    </svg>
                                    <span>Connect</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="relative h-full bg-slate-800 rounded-3xl p-px before:absolute before:w-80 before:h-80 before:-left-40 before:-top-40 before:bg-slate-400 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:group-hover:opacity-100 before:z-10 before:blur-[100px] after:absolute after:w-96 after:h-96 after:-left-48 after:-top-48 after:bg-indigo-500 after:rounded-full after:opacity-0 after:pointer-events-none after:transition-opacity after:duration-500 after:translate-x-[var(--mouse-x)] after:translate-y-[var(--mouse-y)] after:hover:opacity-10 after:z-30 after:blur-[100px] overflow-hidden">
                        <div class="relative h-full bg-slate-900 p-6 pb-8 rounded-[inherit] z-20 overflow-hidden">
                            <!-- Radial gradient -->
                            <div class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/2 aspect-square"
                                 aria-hidden="true">
                                <div class="absolute inset-0 translate-z-0 bg-slate-800 rounded-full blur-[80px]"></div>
                            </div>
                            <div class="flex flex-col h-full items-center text-center">
                                <!-- Image -->
                                <div class="relative inline-flex">
                                    <div class="w-[40%] h-[40%] absolute inset-0 m-auto -translate-y-[10%] blur-3xl -z-10 rounded-full bg-indigo-600"
                                         aria-hidden="true"></div>
                                    <img class="inline-flex" src="./card-03.png" width="200" height="200"
                                         alt="Card 03"/>
                                </div>
                                <!-- Text -->
                                <div class="grow mb-5">
                                    <h2 class="text-xl text-slate-200 font-bold mb-1">Amazing Integration</h2>
                                    <p class="text-sm text-slate-500">Quickly apply filters to refine your issues lists
                                        and create custom views.</p>
                                </div>
                                <a class="inline-flex justify-center items-center whitespace-nowrap rounded-lg bg-slate-800 hover:bg-slate-900 border border-slate-700 px-3 py-1.5 text-sm font-medium text-slate-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 dark:focus-visible:ring-slate-600 transition-colors duration-150"
                                   href="#0">
                                    <svg class="fill-slate-500 mr-2" xmlns="http://www.w3.org/2000/svg" width="16"
                                         height="14">
                                        <path d="M12.82 8.116A.5.5 0 0 0 12 8.5V10h-.185a3 3 0 0 1-2.258-1.025l-.4-.457-1.328 1.519.223.255A5 5 0 0 0 11.815 12H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM12.82.116A.5.5 0 0 0 12 .5V2h-.185a5 5 0 0 0-3.763 1.708L3.443 8.975A3 3 0 0 1 1.185 10H1a1 1 0 1 0 0 2h.185a5 5 0 0 0 3.763-1.708l4.609-5.267A3 3 0 0 1 11.815 4H12v1.5a.5.5 0 0 0 .82.384l3-2.5a.5.5 0 0 0 0-.768l-3-2.5ZM1 4h.185a3 3 0 0 1 2.258 1.025l.4.457 1.328-1.52-.223-.254A5 5 0 0 0 1.185 2H1a1 1 0 0 0 0 2Z"/>
                                    </svg>
                                    <span>Connect</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    {#    <div class="page-header"> #}
    {#        <div class="container-box"> #}
    {#            <div class="stack"> #}
    {#                <div class="stack max-w-[980px]"> #}
    {#                    <h1 class="text-3xl font-medium leading-tight tracking-tighter text-slate-900 sm:text-3xl md:text-5xl lg:text-6xl"> #}
    {#                        Je suis <span class="text-primary-900">Sophie</span>,<br> #}
    {#                    </h1> #}
    {#                    <p class="text-xl text-slate-500 max-w-[700px] dark:text-slate-400 sm:text-xl"> #}
    {#                        Pour vous, votre famille ou vos proches, je me déplace à domicile pour vous offrir une #}
    {#                        prestation de #}
    {#                        qualité. #}
    {#                    </p> #}
    {#                </div> #}

    {#                <div class="mt-4 flex flex-col space-y-4 sm:space-x-4 sm:space-y-0 sm:flex-row md:flex-row"> #}
    {#                    <a href="{{ path('app_login') }}" #}
    {#                       class="btn-md btn-primary"> #}
    {#                        {{ icon('calendar') }} #}
    {#                        <span class="ml-2"> #}
    {#                        Prendre rendez-vous #}
    {#                    </span> #}
    {#                    </a> #}
    {#                    <a href="" #}
    {#                       class="btn-md btn-secondary"> #}
    {#                        Voir mes réalisations #}
    {#                    </a> #}
    {#                </div> #}
    {#            </div> #}
    {#        </div> #}
    {#    </div> #}

    {#    <main class="py-10 container-box stack-large"> #}
    {#        <div class="my-8 flex flex-col items-center gap-8"> #}
    {#            <h2 class="text-2xl font-medium leading-tight tracking-tighter font-inter sm:text-4xl"> #}
    {#                Découvrez <span class="text-primary-500">mes services</span> #}
    {#            </h2> #}

    {#        </div> #}
    {#        <!-- End Section stories --> #}
    {#    </main> #}

{% endblock %}


{% block javascripts__footer %}
    <script type="text/javascript">
        // const hamburger = document.getElementById('hamburger');
        // const toggle_nav = document.getElementById('toggle_nav');
        // const line = document.getElementById('line');
        // const line2 = document.getElementById('line2');
        //
        // hamburger.addEventListener('click', () => {
        //     if (toggle_nav.checked) {
        //         line.classList.remove('rotate-45', '-translate-y-1');
        //         line2.classList.remove('-rotate-45', 'translate-y-1');
        //     } else {
        //         line.classList.add('rotate-45', '-translate-y-1');
        //         line2.classList.add('-rotate-45', 'translate-y-1');
        //     }
        // });


        // Spotlight effect on hover for cards with color overlay
        // const cards = document.querySelectorAll('[data-spotlight]');
        // cards.forEach(card => {
        //     card.addEventListener('mousemove', e => {
        //         const rect = card.getBoundingClientRect();
        //         const x = e.clientX - rect.left;
        //         const y = e.clientY - rect.top;
        //         card.style.setProperty('--mouse-x', `${x}px`);
        //         card.style.setProperty('--mouse-y', `${y}px`);
        //     });
        // });

        // Cards spotlight
        class Spotlight {
            constructor(containerElement) {
                this.container = containerElement;
                this.cards = Array.from(this.container.children);
                this.mouse = {
                    x: 0,
                    y: 0,
                };
                this.containerSize = {
                    w: 0,
                    h: 0,
                };
                this.initContainer = this.initContainer.bind(this);
                this.onMouseMove = this.onMouseMove.bind(this);
                this.init();
            }

            initContainer() {
                this.containerSize.w = this.container.offsetWidth;
                this.containerSize.h = this.container.offsetHeight;
            }

            onMouseMove(event) {
                const {clientX, clientY} = event;
                const rect = this.container.getBoundingClientRect();
                const {w, h} = this.containerSize;
                const x = clientX - rect.left;
                const y = clientY - rect.top;
                const inside = x < w && x > 0 && y < h && y > 0;
                if (inside) {
                    this.mouse.x = x;
                    this.mouse.y = y;
                    this.cards.forEach((card) => {
                        const cardX = -(card.getBoundingClientRect().left - rect.left) + this.mouse.x;
                        const cardY = -(card.getBoundingClientRect().top - rect.top) + this.mouse.y;
                        card.style.setProperty('--mouse-x', `${cardX}px`);
                        card.style.setProperty('--mouse-y', `${cardY}px`);
                    });
                }
            }

            init() {
                this.initContainer();
                window.addEventListener('resize', this.initContainer);
                window.addEventListener('mousemove', this.onMouseMove);
            }
        }

        // Init Spotlight
        const spotlights = document.querySelectorAll('[data-spotlight]');
        spotlights.forEach((spotlight) => {
            new Spotlight(spotlight);
        });
    </script>
{% endblock %}
