{{ form_start(form , {'attr': {'class': 'stack'}}) }}
<div class="card card-padding stack">
    <div class="grid2">
        {{ form_row(form.client) }}
        {{ form_row(form.prestation) }}
    </div>

    <div class="grid2">
        {{ form_row(form.bookingDate) }}
        {{ form_row(form.bookingTime) }}
    </div>
</div>

<div class="text-end">
    <button type="submit" class="btn-md btn-primary">
        {{ icon('save') }}
        <span>
            {{ button_label|default('Enregistrer') }}
        </span>
    </button>
</div>
{{ form_end(form) }}