{% extends 'admin/base.html.twig' %}

{% block title %}Mes rendez-vous{% endblock %}

{% import 'admin/booking/macros.twig' as element %}

{% block body %}
    <div class="mb-6 flex items-center justify-between">
        <h4 class="text-2xl font-bold md:text-3xl">
            Rendez-vous
        </h4>
        <a href="{{ path('app_admin_booking_add') }}"
           class="btn btn-md btn-primary">
            {{ icon('plus') }}
            <span>
                Ajouter
            </span>
        </a>
    </div>

    <div class="my-4 card">
        <h3 class="text-2xl font-bold text-slate-900">Aujourd'hui</h3>
        <p class="text-base text-slate-500 mb-4">Vous avez {{ bookingsToday|length }} rendez-vous aujourd'hui</p>
        <div class="flex gap-4 mb-2">
            <div class="text-5xl text-slate-800">{{ 'now'|date('d') }}</div>
            <div class="flex flex-col">
                <div class="text-base text-slate-800 font-bold">{{ 'now'|date('l') }}</div>
                <div class="text-sm text-slate-500"> {{ 'now'|date('F') }} </div>
            </div>
        </div>
        {% include 'admin/booking/_list.html.twig' with {'bookings': bookingsToday} %}
    </div>

    <div class="card mb-4">
        <h3 class="text-2xl font-bold text-slate-900">A venir</h3>
        <p class="text-base text-slate-500 mb-4">Vous avez {{ bookingsAfterToday|length }} rendez-vous à venir</p>
        <div class="flex flex-col gap-5 mb-4">
            {% for date,bookings in bookingsAfterToday %}
                {#            <h4 class="text-xl font-bold text-slate-900">{{ date|date('d M Y') }}</h4> #}
                <div class="">
                    <div class="flex gap-4 mb-2">
                        <div class="text-5xl text-slate-800">{{ date|date('d') }}</div>
                        <div class="flex flex-col">
                            <div class="text-base text-slate-800 font-bold">{{ date|date('l') }}</div>
                            <div class="text-sm text-slate-500"> {{ date|date('F') }} </div>
                        </div>
                    </div>
                    {% include 'admin/booking/_list.html.twig' with {'bookings': bookings} %}
                </div>
            {% endfor %}
        </div>
    </div>






    {#    <div class="card-simple"> #}
    {#        {% if bookings is not empty %} #}
    {#            <div class="mb-6 px-4 sm:px-6"> #}
    {#                <div class="flex justify-between"> #}
    {#                    <div class="flex flex-1 justify-between"> #}
    {#                        <input type="text" class="form-control" placeholder="Rechercher..."> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}
    {#        {% endif %} #}

    {#        <div class="block w-full overflow-x-auto"> #}
    {#            <table class="table w-full border-collapse items-center bg-transparent"> #}
    {#                <thead class="bg-gray-50"> #}
    {#                <tr> #}
    {#                    <th> #}
    {#                        <input type="checkbox" #}
    {#                               class=""> #}
    {#                    </th> #}
    {#                    <th> #}
    {#                        Date #}
    {#                    </th> #}
    {#                    <th> #}
    {#                        Statut #}
    {#                    </th> #}
    {#                    <th> #}
    {#                        Client #}
    {#                    </th> #}
    {#                    <th> #}
    {#                        Prestation #}
    {#                    </th> #}
    {#                    <th> #}
    {#                        Tarif #}
    {#                    </th> #}
    {#                    <th> #}
    {#                        Statut paiement #}
    {#                    </th> #}
    {#                    <th> #}
    {#                        Actions #}
    {#                    </th> #}
    {#                </tr> #}
    {#                </thead> #}
    {#                <tbody> #}
    {#                {% if bookings is empty %} #}
    {#                    <tr> #}
    {#                        <td colspan="7" class="text-center"> #}
    {#                            Vous n'avez aucun rendez-vous pour le moment. #}
    {#                        </td> #}
    {#                    </tr> #}
    {#                {% endif %} #}
    {#                {% for booking in bookings %} #}
    {#                    <tr> #}
    {#                        <th class="text-left"> #}
    {#                            <input type="checkbox" #}
    {#                                   class=""> #}
    {#                        </th> #}
    {#                        <td> #}
    {#                            {{ booking.bookingDate|date('d/m/Y') }} à {{ booking.bookingTime|date('H:i') }} #}
    {#                        </td> #}
    {#                        <td> #}
    {#                            {{ element.status_badge(booking) }} #}
    {#                        </td> #}
    {#                        <td> #}
    {#                            <a href="{{ path('app_admin_clients_show', {'id': booking.client.id}) }}"> #}
    {#                                {{ booking.client.fullname }} #}
    {#                            </a> #}
    {#                        </td> #}
    {#                        <td> #}
    {#                            {{ booking.prestation.name }} #}
    {#                        </td> #}
    {#                        <td> #}
    {#                            {{ booking.amount }} € #}
    {#                        </td> #}
    {#                        <td> #}
    {#                            {{ element.payment_status_badge(booking) }} #}
    {#                        </td> #}
    {#                        <td> #}
    {#                            <a href="{{ path('app_admin_booking_show', {'id': booking.id}) }}" #}
    {#                               class="btn-icon"> #}
    {#                                {{ icon('eye') }} #}
    {#                            </a> #}

    {#                            {{ element.edit_button(booking) }} #}
    {#                            {{ element.confirm_booking_button(booking) }} #}
    {#                            {{ element.cancel_booking_button(booking) }} #}
    {#                            {{ element.delete_booking_button(booking) }} #}
    {#                            {{ element.payment_button(booking) }} #}
    {#                        </td> #}
    {#                    </tr> #}
    {#                {% endfor %} #}
    {#                </tbody> #}
    {#            </table> #}
    {#        </div> #}
    {#    </div> #}
{% endblock %}
