{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminBookingController!{% endblock %}

{% block body %}
    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            Rendez-vous
        </h4>
        <a href="{{ path('app_admin_booking_add') }}"
           class="btn btn-md btn-primary">
            {{ icon('plus') }}
            <span>
                Ajouter
            </span>
        </a>
    </div>

    <div class="mt-2">
        {{ include('partials/flash.html.twig') }}
    </div>

    <div class="card-simple">
        {% if bookings is not empty %}
            <div class="mb-6 px-4 sm:px-6">
                <div class="flex justify-between">
                    <div class="flex-1 flex justify-between">
                        <input type="text" class="form-control" placeholder="Rechercher...">
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="block w-full overflow-x-auto">
            <table class="table w-full border-collapse items-center bg-transparent">
                <thead class="bg-gray-50">
                <tr>
                    <th>
                        <input type="checkbox"
                               class="">
                    </th>
                    <th>
                        Prestation
                    </th>
                    <th>
                        Client
                    </th>
                    <th>
                        Tarif
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if bookings is empty %}
                    <tr>
                        <td colspan="5" class="text-center">
                            Vous n'avez aucun rendez-vous pour le moment.
                        </td>
                    </tr>
                {% endif %}
                {% for booking in bookings %}
                    <tr>
                        <th class="text-left">
                            <input type="checkbox"
                                   class="">
                        </th>
                        <td>
                            {{ booking.prestation.name }}
                        </td>
                        <td>
                            {{ booking.client.fullname }}
                        </td>
                        <td>
                            {{ booking.prestation.price }} €
                        </td>
                        <td>
                            {#                            <a href="{{ path('app_admin_prestation_edit', {'id': prestation.id}) }}" #}
                            {#                               class="btn-icon"> #}
                            {#                                {{ icon('pencil') }} #}
                            {#                            </a> #}
                            <button
                                    class="btn-icon modal-button" data-modal-id="modal-id-{{ booking.id }}">
                                {{ icon('ban') }}
                            </button>

                            {% include 'components/_delete-modal.html.twig' with {
                                'id': 'modal-id-' ~ booking.id,
                                'title': 'Annuler le rendez-vous',
                                'content': 'Vous êtes sur le point d\'annuler le rendez-vous de <strong>' ~ booking.client.fullname ~ '</strong>.<br>Cette action est irréversible.',
                                'form_action': path('app_admin_booking_delete', {'id': booking.id}),
                                'csrf_value': csrf_token('delete' ~ booking.id),
                                'close_btn_label': 'Retour',
                                'btn_label': 'Je confirme l\'annulation',
                            } %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
