{% extends 'admin/base.html.twig' %}

{% block body %}

    {{ include('partials/flash.html.twig') }}

    <a href="{{ path('app_admin_booking_index') }}"
       class="btn-link mb-4">
        {{ icon('arrow-left', '', 'mr-2') }}
        <span>
            Liste des rendez-vous
        </span>
    </a>

    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            Rdv du {{ booking.bookingDate|date('d/m/Y') }}
        </h4>
        {% if booking.status != 'canceled' %}
            <a href="{{ path('app_admin_booking_edit', {'id': booking.id}) }}"
               class="btn-md btn-primary">
                {{ icon('pencil', '', 'mr-2') }}
                <span>
                    Modifier
                </span>
            </a>
        {% endif %}
    </div>

    <div class="mt-2">
        {{ include('partials/flash.html.twig') }}
    </div>

    <div class="grid grid-cols-3 gap-6 mt-10 mb-10">
        <div class="col-span-3 sm:col-span-1">
            <div class="card">
                <!-- title : Informations -->
                <div class="flex items-center justify-between">
                    <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-6">Client</h2>
                </div>

                <!-- client informations -->
                <div class="flex flex-col">
                    <div class="w-full border-b border-gray-200 dark:border-gray-700 mb-4">
                        <h5 class="text-sm font-medium text-gray-900 dark:text-white mb-1">Nom</h5>
                        <p class="text-sm text-gray-600 dark:text-gray-400 mb-2">
                            {{ booking.client.fullname }}
                        </p>
                    </div>
                    <div class="w-full border-b border-gray-200 dark:border-gray-700 mb-4">
                        <h5 class="text-sm font-medium text-gray-900 dark:text-white mb-1">Email</h5>
                        <p class="text-sm text-gray-600 dark:text-gray-400 mb-2">
                            {{ booking.client.email }}
                        </p>
                    </div>
                    <div class="w-full border-b border-gray-200 dark:border-gray-700">
                        <h5 class="text-sm font-medium text-gray-900 dark:text-white mb-1">Phone</h5>
                        <p class="text-sm text-gray-600 dark:text-gray-400 mb-2">
                            {{ booking.client.phone }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-3 sm:col-span-2">
            <div class="card mb-6">
                <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-6">
                    Rendez-vous
                </h2>

                <div class="mt-6 overflow-x-auto -mx-4 sm:-mx-6">
                    <table class="table w-full">
                        <thead>
                        <tr>
                            <th class="px-4 py-2 text-left">Date</th>
                            <th class="px-4 py-2 text-left">Heure</th>
                            <th class="px-4 py-2 text-left">Statut</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="border px-4 py-2">
                                {{ booking.bookingDate|date('d/m/Y') }}
                            </td>
                            <td class="border px-4 py-2">
                                {{ booking.bookingTime|date('H:i') }}
                            </td>
                            <td>
                                {% if booking.status == 'confirmed' %}
                                    <span class="badge badge-success">
                                        Confirmé
                                    </span>
                                {% elseif booking.status == 'canceled' %}
                                    <span class="badge badge-danger">
                                        Annulé
                                    </span>
                                {% else %}
                                    <span class="badge badge-warning">
                                        En attente
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="flex justify-between items-center flex-col sm:flex-row gap-3 mt-6">
                    {% if booking.status == 'pending' %}
                        <form method="post" action="{{ path('app_admin_booking_confirm', {'id': booking.id}) }}">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('confirm_booking' ~ booking.id) }}">
                            <button class="btn-md btn-primary">
                                {{ icon('check', '', 'mr-2') }}
                                Confirmer
                            </button>
                        </form>
                    {% endif %}
                    {% if booking.status == 'pending' or booking.status == 'confirmed' %}
                        <form method="post" action="{{ path('app_admin_booking_cancel', {'id': booking.id}) }}">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('cancel_booking' ~ booking.id) }}">
                            <button class="btn-md btn-outline-primary">
                                {{ icon('x', '', 'mr-2') }}
                                Refuser
                            </button>
                        </form>
                    {% endif %}

                </div>

            </div>

            {% if booking.status != 'canceled' %}
                <div class="card mb-6">
                    <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-6">Emails</h2>

                    <select class="form-input-md w-full">
                        <option>Renvoyer la dernière facture</option>
                        <option>Envoyer un rappel de paiement</option>
                        <option>Envoyer un rappel de rendez-vous</option>
                        <option>Envoyer un email de réinitialisation de mot de passe</option>
                        <option>Envoyer un email de confirmation de compte</option>
                    </select>

                    <div class="mt-6">
                        <button class="btn btn-md btn-primary">
                            {{ icon('send', '', 'mr-2') }}
                            Envoyer
                        </button>
                    </div>

                    <div class="mt-6 overflow-x-auto -mx-4 sm:-mx-6">
                        <table class="table w-full">
                            <thead>
                            <tr>
                                <th class="px-4 py-2 text-left">Type</th>
                                <th class="px-4 py-2 text-left">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border px-4 py-2">Rappel de paiement</td>
                                <td class="border px-4 py-2">12/12/2020</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2">Rappel de rendez-vous</td>
                                <td class="border px-4 py-2">12/12/2020</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2">Réinitialisation de mot de passe</td>
                                <td class="border px-4 py-2">12/12/2020</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2">Confirmation de compte</td>
                                <td class="border px-4 py-2">12/12/2020</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>
{% endblock %}
