{# <div class=""> #}
{#    {% if realisation.images.count() > 0 %} #}
{#        <div class="overflow-hidden relative realisation-images group"> #}
{#            <div class="flex transition-transform ease-out duration-500 imageContainer"> #}
{#                {% for image in realisation.images %} #}
{#                    <img src="{{ asset('uploads/images/realisations/' ~ image.name) | imagine_filter('my_thumb') }}" #}
{#                         alt="" class=""> #}
{#                {% endfor %} #}
{#            </div> #}
{#            <div class="absolute inset-0 flex items-center justify-between p-4"> #}
{#                <button class="p-1 rounded-full shadow h-10 w-10 bg-indigo-100/80 text-gray-800 hover:bg-indigo-100 slide-left  sm:opacity-0 sm:group-hover:opacity-100 sm:transition-all sm:duration-300 sm:group-hover:right-5"> #}
{#                    {{ icon('angle-left', '') }} #}
{#                </button> #}
{#                <button class="p-1 rounded-full shadow h-10 w-10 bg-indigo-100/80 text-gray-800 hover:bg-indigo-100 slide-right  sm:opacity-0 sm:group-hover:opacity-100 sm:transition-all sm:duration-300 sm:group-hover:right-5"> #}
{#                    {{ icon('angle-right', '') }} #}
{#                </button> #}
{#            </div> #}
{#        </div> #}
{#    {% endif %} #}

{# </div> #}

<div class="rounded overflow-hidden shadow-lg m-2 bg-white">
    {% if realisation.images.count() > 0 %}
        <div class="overflow-hidden relative realisation-images group">
            <div class="flex transition-transform ease-out duration-500 imageContainer">
                {% for image in realisation.images %}
                    <img src="{{ asset('uploads/images/realisations/' ~ image.name) | imagine_filter('my_thumb') }}"
                         alt="" class="w-full">
                {% endfor %}
            </div>
            <div class="absolute inset-0 flex items-center justify-between p-4">
                <button class="p-1 rounded-full shadow h-10 w-10 bg-indigo-100/80 text-gray-800 hover:bg-indigo-100 slide-left  sm:opacity-0 sm:group-hover:opacity-100 sm:transition-all sm:duration-300 sm:group-hover:right-5">
                    {{ icon('angle-left') }}
                </button>
                <button class="p-1 rounded-full shadow h-10 w-10 bg-indigo-100/80 text-gray-800 hover:bg-indigo-100 slide-right  sm:opacity-0 sm:group-hover:opacity-100 sm:transition-all sm:duration-300 sm:group-hover:right-5">
                    {{ icon('angle-right') }}
                </button>
            </div>
        </div>
    {% endif %}

    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Realisation {{ realisation.id }}</div>
        <div class="flex flex-start mb-4">
            <span class="bg-indigo-50 p-2 rounded-lg flex items-center justify-center text-indigo-600">
                {{ icon('calendar') }}
            </span>

            <div class="flex-1 ml-3">
                <p class="text-xs text-gray-500 pb-0 mb-0">Date</p>
                <p class="font-medium text-sm">{{ realisation.dateRealisation|date('d/m/Y') }}</p>
            </div>
        </div>

        <div class="flex flex-start mb-4">
            <span class="bg-indigo-200/50 text-indigo-700 p-2 rounded-lg flex items-center justify-center">
                {{ icon('time') }}
            </span>

            <div class="flex-1 ml-3">
                <p class="text-xs text-gray-500 pb-0 mb-0">Durée</p>
                <p class="font-medium text-sm">{{ realisation.duration|date('H') }}
                    h {{ realisation.duration|date('i') }} min</p>
            </div>
        </div>

        <div class="flex flex-start mb-4">
            <span class="bg-indigo-50 p-2 rounded-lg flex items-center justify-center text-indigo-600">
                {{ icon('money') }}
            </span>

            <div class="flex-1 ml-3">
                <p class="text-xs text-gray-500 pb-0 mb-0">Tarif</p>
                <p class="font-medium text-sm">{{ realisation.tarif }} €
                </p>
            </div>
        </div>

        <div class="flex flex-start mb-4">
            <span class="bg-indigo-50 p-2 rounded-lg flex items-center justify-center text-indigo-600">
                {{ icon('lock') }}
            </span>

            <div class="flex-1 ml-3">
                <p class="text-xs text-gray-500 pb-0 mb-0">Confidentialité</p>
                <p class="font-medium text-sm">
                    {% if realisation.isPublic %}
                        Visible par tous
                    {% else %}
                        Moi uniquement
                    {% endif %}
                </p>
            </div>
        </div>

    </div>
</div>


