{% extends 'admin/layouts/card.html.twig' %}

{% block title %}Toutes les réalisations{% endblock %}

{% block card_title %}Réalisations{% endblock %}

{% block card_actions %}
    <a href="{{ path('app_admin_realisation_new') }}" class="btn btn-primary">
        Ajouter
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        {% for realisation in realisations %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card {{ realisation.isPublic ? 'card-active' : 'card-inactive' }}">
                    <div class="card-images">
                        <div id="carouselIndicators{{ realisation.id }}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                {% for image in realisation.images %}
                                    <button type="button" data-bs-target="#carouselIndicators{{ realisation.id }}" data-bs-slide-to="{{ loop.index - 1 }}" aria-label="Slide {{ loop.index }}" class="{% if loop.first %}active{% endif %}"></button>
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                {% for image in realisation.images %}
                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                        <img src="{{ asset('uploads/images/' ~ image.name) }}" class="d-block"  alt="...">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators{{ realisation.id }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators{{ realisation.id }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            {% if (realisation.heureDebut is not null) and (realisation.heureFin is not null) %}
                                <div class="col-12">
                                    <div class="media mb-3">
                                        <i class="las la-clock align-self-center me-2"></i>
                                        <div class="media-body">
                                            <p class="media-info-heading">
                                                Durée de la prestation
                                            </p>
                                            <p class="media-info-text mb-0">
                                                {{ calculate_duration(realisation.heureDebut, realisation.heureFin) }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if realisation.isTarifPublic and (realisation.tarif is not null) %}
                                <div class="col-12">
                                    <div class="media mb-3">
                                        <i class="las la-euro-sign align-self-center me-2"></i>
                                        <div class="media-body">
                                            <p class="media-info-heading">
                                                Tarif de la prestation
                                            </p>
                                            <p class="media-info-text mb-0">
                                                {{ realisation.tarif }} €
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if realisation.dateRealisation %}
                                <div class="col-12">
                                    <div class="media mb-3">
                                        <i class="las la-calendar-alt align-self-center me-2"></i>
                                        <div class="media-body">
                                            <p class="media-info-heading">
                                                Faite le
                                            </p>
                                            <p class="media-info-text mb-0">
                                                {{ realisation.dateRealisation|date_format }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a href="{{ path('app_admin_realisation_show', {'id': realisation.id}) }}" class="btn btn-primary">
                            Consulter
                        </a>
                        <a href="{{ path('app_admin_realisation_edit', {'id': realisation.id}) }}" class="btn btn-outline-primary">
                            {{ icon('pen', 'lg') }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12">
{#            {{ knp_pagination_render(realisations) }}#}
        </div>
    </div>
{% endblock %}


{#{% endblock %}#}
