{% extends 'admin/base.html.twig' %}

{% block title %}Toutes les réalisations{% endblock %}

{% block body %}

    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            Réalisations
        </h4>
        <a href="{{ path('app_admin_realisation_new') }}"
           class="btn btn-md btn-primary">
            {{ icon('plus') }}
            <span>
                Ajouter
            </span>
        </a>
    </div>

    <div class="card">
        <div class="block w-full overflow-x-auto">
            <table class="table w-full border-collapse items-center bg-transparent">
                <thead class="bg-gray-50">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Durée
                    </th>
                    <th>
                        Tarif
                    </th>
                    <th>
                        Visibilité
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if realisations|length == 0 %}
                    <tr>
                        <td colspan="6" class="text-center">
                            Aucune réalisation pour le moment.
                        </td>
                    </tr>
                {% endif %}
                {% for realisation in realisations %}
                    <tr>
                        <td class="uppercase">{{ realisation.id }}</td>
                        <td>{{ realisation.dateRealisation|human_date }}</td>
                        <td>{{ realisation.duration|duration_format }}</td>
                        <td>{{ realisation.tarif|price_format }}</td>
                        <td>
                            {% if realisation.isPublic %}
                                <span class="badge badge-success">Publié</span>
                            {% else %}
                                <span class="badge badge-danger">Non publié</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('app_admin_realisation_show', {'id': realisation.id}) }}"
                               class="btn-icon">
                                {{ icon('eye') }}
                            </a>
                            <a href="{{ path('app_admin_realisation_edit', {'id': realisation.id}) }}"
                               class="btn-icon">
                                {{ icon('pencil') }}
                            </a>
                            <button
                                    class="btn-icon modal-button" data-modal-id="modal-id-{{ realisation.id }}">
                                {{ icon('trash') }}
                            </button>

                        </td>
                        {% include 'components/_delete-modal.html.twig' with {
                            'id': 'modal-id-' ~ realisation.id,
                            'title': 'Supprimer la réalisation',
                            'content': 'Vous êtes sur le point de supprimer la réalisation n°' ~ realisation.id ~ ' du ' ~ realisation.dateRealisation|human_date ~ '.',
                            'form_action': path('app_admin_realisation_delete', {'id': realisation.id}),
                            'csrf_value': csrf_token('delete' ~ realisation.id),
                            'btn_label': 'Supprimer'
                        } %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

