{% extends 'admin/layouts/card.html.twig' %}

{% block title %}Toutes les réalisations{% endblock %}

{% block card_title %}Réalisations{% endblock %}

{% block card_style '' %}

{% block card_body %}

    <div class="hidden lg:block bg-white px-2 lg:py-5 mb-4 rounded-lg shadow-md">
        <table class="table table-responsive mt-6 font-plusJakartaSans w-full">
            <thead>
            <tr>
                <th>Date</th>
                <th>Durée</th>
                <th>Montant</th>
                <th>Visibilité</th>
                <th>Statut</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for realisation in realisations %}
                <tr>
                    <td>{{ realisation.dateRealisation|date('d/m/Y') }}</td>
                    <td>
                        {{ realisation.duration|date('H') }}
                        h {{ realisation.duration|date('i') }} min
                    </td>
                    <td>{{ realisation.tarif }} €</td>
                    <td>
                        <span class="badge badge-success">Terminé</span>
                    </td>
                    <td>
                        {% if realisation.isPublic %}
                            <span class="badge badge-success">Publié</span>
                        {% else %}
                            <span class="badge badge-danger">Non publié</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_admin_realisation_show', {'id': realisation.id}) }}"
                           class="btn btn-primary btn-sm">Voir</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>


    <!-- list of realisations -->
    <div class="mt-8 grid lg:hidden grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        {% for realisation in realisations %}

            {% include 'admin/realisation/_realisation_card.html.twig' %}

        {% endfor %}
    </div>

{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
    <script>
        document.querySelectorAll('.realisation-images').forEach(carousel => {
            const imageContainer = carousel.querySelector('.imageContainer');
            console.log(imageContainer);
            const images = Array.from(imageContainer.getElementsByTagName('img'));
            const imageWidth = images[0].clientWidth;
            let currentImageIndex = 0;

            const leftButton = carousel.querySelector('.slide-left');
            const rightButton = carousel.querySelector('.slide-right');

            function checkButtons() {
                leftButton.style.visibility = (currentImageIndex === 0) ? 'hidden' : 'visible';
                rightButton.style.visibility = (currentImageIndex === images.length - 1) ? 'hidden' : 'visible';
            }

            checkButtons();

            function scrollImages(offset) {
                currentImageIndex = Math.max(0, Math.min(images.length - 1, currentImageIndex + offset));
                imageContainer.style.transform = `translateX(-${currentImageIndex * imageWidth}px)`;
                checkButtons();
            }

            carousel.querySelector('.slide-left').addEventListener('click', () => scrollImages(-1));
            carousel.querySelector('.slide-right').addEventListener('click', () => scrollImages(1));
        });

    </script>
{% endblock %}
