{% extends 'admin/layouts/card.html.twig' %}

{% block card_title %}Realisation{% endblock %}

{% block content %}

{#    <div class="col-6 ">#}
{#        <div id="carouselRealisationIndicators" class="carousel slide" data-bs-ride="true">#}
{#            <div class="carousel-indicators">#}
{#                {% for image in realisation.images %}#}
{#                    <button type="button" data-bs-target="#carouselRealisationIndicators" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %} aria-current="true" aria-label="Slide {{ loop.index0 }}"></button>#}
{#                {% endfor %}#}
{#            </div>#}
{#            <div class="carousel-inner">#}
{#                {% for image in realisation.images %}#}
{#                    <div class="carousel-item {% if loop.first %}active{% endif %}">#}
{#                        <img src="{{ asset('uploads/images/' ~ image.name) }}" class="d-block w-100" alt="{{ image.name }}">#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#            <button class="carousel-control-prev" type="button" data-bs-target="#carouselRealisationIndicators" data-bs-slide="prev">#}
{#                <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                <span class="visually-hidden">Previous</span>#}
{#            </button>#}
{#            <button class="carousel-control-next" type="button" data-bs-target="#carouselRealisationIndicators" data-bs-slide="next">#}
{#                <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                <span class="visually-hidden">Next</span>#}
{#            </button>#}
{#        </div>#}
{#    </div>#}

    <div class="row">
        <h4 class="col-12">
            Informations
        </h4>

        <div class="col-12">
            <p class="mb-0">
                <strong>Date :</strong> {{ realisation.dateRealisation|date('d/m/Y') }}
            </p>
        </div>

        <div class="col-12">
            <p class="mb-0">
                <strong>Client :</strong> {{ realisation.tarif }} €
            </p>
        </div>

        <h5 class="col-12 text-center">
            Images
        </h5>
        {% for image in realisation.images %}
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex justify-content-center align-items-center">
                <img src="{{ asset('uploads/images/' ~ image.name) }}" class="img-fluid border border-2 border-primary" alt="{{ image.name }}" width="100">
            </div>
        {% endfor %}
    </div>


{% endblock %}
