{% extends 'admin/layouts/card.html.twig' %}

{% block card_title %}
    Realisation #{{ realisation.id }}
{% endblock %}

{% block card_actions %}
    <a href="{{ path('app_admin_realisation_edit', {id: realisation.id}) }}" class="btn btn-primary">
        Éditer
    </a>
{% endblock %}

{% block card_body %}

    <!-- Informations -->
    <section id="realisation_informations mb-5">
        <h4 class="text-center mb-4">Informations générales</h4>
        <p class="text-center">
            Le tarif de la réalisation est de <strong>{{ realisation.tarif }} €</strong>
        </p>
    </section>
    <!-- Fin Informations -->

    <!-- Galerie -->
    <section id="realisation_gallery mb-5">
        <h4 class="text-center mb-4">Galerie de la réalisation</h4>
        <div class="realisation_gallery row d-flex justify-content-center">
            {% for image in realisation.images %}
                <div class="realisation_gallery_item col-md-3">
                    <img src="{{ asset('uploads/images/realisations/' ~ image.name) }}" alt="{{ image.name }}"
                         width="100" class="js-image-modal realisation_gallery_item_image" id="myImg{{ loop.index }}">
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- Fin Galerie -->

{% endblock %}
