{% extends 'admin/base.html.twig' %}

{% block body %}

    <a href="{{ path('app_admin_realisation_index') }}"
       class="btn-link mb-4">
        {{ icon('arrow-left') }}
        <span>
            Liste des réalisations
        </span>
    </a>

    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            Réalisation {{ realisation.id }}
        </h4>
    </div>

    <div class="stack card card-padding">

        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2">
                <div class="mb-6">
                    <h5 class="text-xl font-bold mb-2">
                        Date de la réalisation
                    </h5>
                    <p class="text-lg">
                        {{ realisation.createdAt|date('d/m/Y') }}
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2">
                <div class="mb-6">
                    <h5 class="text-xl font-bold mb-2">
                        Image(s)
                    </h5>
                    {% for image in realisation.images %}
                        <div class="mb-2">
                            <img src="{{ asset('uploads/images/realisations/' ~ image.name) }}" alt="{{ image.name }}"
                                 width="100" class="js-image-modal realisation_gallery_item_image"
                                 id="myImg{{ loop.index }}">
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="flex justify-between items-center mt-6">
            <a href="{{ path('app_admin_realisation_edit', {id: realisation.id}) }}"
               class="btn-md btn-primary">
                <span>
                    Modifier
                </span>
            </a>
        </div>
    </div>

{% endblock %}
