<span class="absolute text-white text-4xl top-5 left-4 cursor-pointer" onclick="Openbar()">
    {{ icon('bars', '', 'px-2 bg-gray-900 rounded-md') }}
</span>
<div class="sidebar fixed top-0 bottom-0 lg:left-0 left-[-300px] duration-1000
    p-2 w-[300px] overflow-y-auto text-center bg-gray-900 dark:bg-gray-900 shadow h-screen">
    <div class="text-gray-100 text-xl">
        <div class="p-2.5 mt-1 flex items-center rounded-md ">
            {{ icon('user', 'bg-blue-600 rounded-md', 'px-2 py-1') }}
            <h1 class="text-[15px]  ml-3 text-xl text-gray-200 font-bold">Tailwindbar</h1>
            {#            <i class="bi bi-x ml-20 cursor-pointer lg:hidden" onclick="Openbar()"></i> #}
            <button class="ml-20 cursor-pointer lg:hidden" onclick="Openbar()">
                {{ icon('times', '', ' cursor-pointer lg:hidden') }}
            </button>
        </div>
        <hr class="my-2 text-gray-600">

        <div>
            <div class="p-2.5 mt-3 flex items-center rounded-md
        px-4 duration-300 cursor-pointer  bg-gray-700">
                {{ icon('search', 'text-gray-200') }}
                <input class="text-[15px] ml-4 w-full bg-transparent focus:outline-none" placeholder="Search"/>
            </div>

            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
                {{ icon('home', 'text-gray-200') }}
                <span class="text-[15px] ml-4 text-gray-200">Home</span>
            </div>
            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
                {{ icon('users', 'text-gray-200') }}
                <span class="text-[15px] ml-4 text-gray-200">Bookmark</span>
            </div>
            <hr class="my-4 text-gray-600">
            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
                {{ icon('bell', 'text-gray-200') }}
                <span class="text-[15px] ml-4 text-gray-200">Messages</span>
            </div>

            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
                {{ icon('user', 'text-gray-200') }}
                <div class="flex justify-between w-full items-center" onclick="dropDown()">
                    <span class="text-[15px] ml-4 text-gray-200">Chatbox</span>
                    <span class="text-sm rotate-180" id="arrow">
                        {{ icon('angle-down', 'text-gray-200') }}
                    </span>
                </div>
            </div>
            <div class=" leading-7 text-left text-sm font-thin mt-2 w-4/5 mx-auto" id="submenu">
                <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">Social</h1>
                <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">Personal</h1>
                <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">Friends</h1>
            </div>
            <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
                {{ icon('sign-out-alt', 'text-gray-200') }}
                <span class="text-[15px] ml-4 text-gray-200">Logout</span>
            </div>

        </div>
    </div>
</div>

<script>
    function dropDown() {
        document.querySelector('#submenu').classList.toggle('hidden')
        document.querySelector('#arrow').classList.toggle('rotate-0')
    }

    dropDown()

    function Openbar() {
        document.querySelector('.sidebar').classList.toggle('left-[-300px]')
    }
</script>