<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title 'Dashboard' %} - {{ app_name }}</title>
    <link rel="stylesheet" href="{{ asset('icons/line-awesome/css/line-awesome.min.css') }}">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('favicons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('favicons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('favicons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('favicons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('favicons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('favicons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('favicons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('favicons/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('favicons/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <!-- jquery-->
    <script src="{{ asset('js/jquery-3.6.3.min.js') }}"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg shadow shadow-md fixed-top app-navbar">
    <div class="container-fluid">
        <!-- Offcanvas button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#appOffcanvas"
                aria-controls="appOffcanvas">
            {{ icon('bars', 'la-2x') }}
        </button>
        <!-- End of Offcanvas button -->
        <!-- navbar brand -->
        <a class="navbar-brand fw-bold text-uppercase me-auto ms-2" href="{{ path('app_admin_home') }}">
            logo
        </a>
        <!-- end of navbar brand -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            {{ icon('bars', 'la-2x') }}
        </button>

        <!-- user profile mobile -->
        <div class="d-lg-none">
            {{ include('admin/partials/_profile_navbar_dropdown.html.twig') }}
        </div>
        <!-- end of user profile mobile -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="ms-auto">
                <div class="input-group my-3 my-lg-0">
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                    <button type="submit" class="input-group-text" id="inputGroup-sizing-default">
                        {{ icon('search', 'la-2x') }}
                    </button>
                </div>
            </form>
        </div>

        <!-- user profile desktop -->
        <div class="d-lg-block d-none">
            {{ include('admin/partials/_profile_navbar_dropdown.html.twig') }}
        </div>
        <!-- end of user profile desktop -->

    </div>
</nav>
<!-- End of Navbar -->

<!-- Offcanvas -->
<div class="offcanvas offcanvas-start border-end-0 sidebar-nav" tabindex="-1" id="appOffcanvas"
     aria-labelledby="appOffcanvasLabel">

    <div class="offcanvas-body">
        <nav class="navbar-light offcanvas-nav">
            <ul class="navbar-nav">
                <li class="nav-item {{ menu_active('app_admin_home') }}">
                    <a class="nav-link" href="{{ path('app_admin_home') }}">
                        {{ icon('home', '2x') }}
                        <span class="nav-text">Accueil</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        {{ icon('briefcase', '2x') }}
                        <span class="nav-text">Services</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        {{ icon('calendar', '2x') }}
                        <span class="nav-text">Réservations</span>
                    </a>
                </li>
                <li class="nav-item {{ menu_active('app_admin_clients') }}">
                    <a class="nav-link" href="{{ path('app_admin_clients_index') }}">
                        {{ icon('users', '2x') }}
                        <span class="nav-text">Clients</span>
                    </a>
                </li>
                <li class="nav-item {{ menu_active('app_admin_realisation') }}">
                    <a class="nav-link" href="{{ path('app_admin_realisation_index') }}">
                        {{ icon('cut', '2x') }}
                        <span class="nav-text">Réalisations</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        {{ icon('comment', '2x') }}
                        <span class="nav-text">Avis</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        {{ icon('envelope', '2x') }}
                        <span class="nav-text">Messages</span>
                    </a>
                </li>
                <li class="nav-item {{ menu_active('app_admin_settings') }}">
                    <a class="nav-link" href="{{ path('app_admin_settings_index') }}">
                        {{ icon('cog', '2x') }}
                        <span class="nav-text">Paramètres</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- End of Offcanvas -->

<!-- Main -->
<main class="app-main pt-3">
    <!-- Breadcrumbs -->
    {{ include('admin/partials/_breadcrumb.html.twig') }}
    <!-- End of Breadcrumbs -->
    {% include 'partials/flash.html.twig' %}
    <!-- Content -->
    {% block body %}{% endblock %}
    <!-- End Content -->
</main>
<!-- End Main -->

<!-- Footer -->
<footer class="bg-light mt-auto app-footer">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="">{{ app_name }} &copy; {{ 'now'|date('Y') }}</div>
        </div>
    </div>
</footer>
<!-- End of Footer -->

{% block javascripts__footer %}
{% endblock %}
</body>
</html>