{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <p class="text-3xl text-gray-700 font-plusJakartaSans font-bold mb-4">Salut {{ app.user.fullname }} !</p>

    <section class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 pb-10">
        <div class="w-full flex rounded-xl p-8 relative shadow-custom bg-white">
            <div class="flex justify-center items-center">
                <a href="{{ path('app_admin_clients_index') }}">
                    <div class="bg-primary-200/50 text-primary-700 p-4 rounded-lg  text-xl flex justify-center items-center">
                        {{ icon('users') }}
                    </div>
                </a>
            </div>

            <div class="ml-7 flex flex-col align-center">
                <p class="text-2xl my-0">{{ nbClients }}</p>
                <p class="text-sm text-gray-400 my-0">Clients</p>
            </div>
        </div>
        <div class="w-full flex rounded-xl p-8 relative border-2 border-slate-100 bg-white">
            <div class="flex justify-center items-center">
                <a href="{{ path('app_admin_realisation_index') }}">
                    <div class="bg-primary-200/50 text-primary-700 p-4 rounded-lg  text-xl flex justify-center items-center">
                        {{ icon('scissors') }}
                    </div>
                </a>
            </div>

            <div class="ml-7 flex flex-col align-center">
                <p class="text-2xl my-0">{{ nbRealisations }}</p>
                <p class="text-sm text-gray-400 my-0">Réalisations</p>
            </div>
        </div>
        <div class="w-full flex rounded-xl p-8 relative shadow-custom bg-white">
            <div class="flex justify-center items-center">
                <a href="{{ path('app_admin_appointment_index') }}">
                    <div class="bg-primary-200/50 text-primary-700 p-4 rounded-lg  text-xl flex justify-center items-center">
                        {{ icon('calendar') }}
                    </div>
                </a>
            </div>

            <div class="ml-7 flex flex-col align-center">
                <p class="text-2xl my-0">{{ nbAppointments }}</p>
                <p class="text-sm text-gray-400 my-0">Rendez-vous</p>
            </div>
        </div>
    </section>

    <section class="bg-white rounded-xl shadow-custom px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 1
        <a href="" class="link">Découvrez nos réalisations</a> mais j'aimerais découvrir aussi les <a href=""
                                                                                                      class="link"
                                                                                                      target="_blank">avis
            de nos clients</a>

        prestations
    </section>

    <section class="bg-white rounded-lg shadow-custom px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 2

        <blockquote class="text-2xl font-semibold italic text-center text-slate-900">
            If you
            <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block">
                <span class="relative text-white">choose</span>
            </span>
            our services, you win
        </blockquote>
    </section>

    <section class="bg-white rounded-lg shadow-custom px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 3
    </section>

    <section class="bg-white rounded-lg shadow-custom px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 4
    </section>

{% endblock %}
