{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="mt-2">
        {{ include('partials/flash.html.twig') }}
    </div>

    <p class="text-3xl text-gray-700 font-circularStd font-medium mb-4">Salut {{ app.user.fullname }} !</p>

    <section class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 pb-10">
        <div class="w-full flex rounded-xl p-8 relative shadow-soft-md bg-white">
            <div class="flex justify-center items-center">
                <div class="bg-primary-200/50 text-primary-700 p-4 rounded-lg  text-xl flex justify-center items-center">
                    {{ icon('users-2') }}
                </div>
            </div>

            <div class="ml-7 flex flex-col align-center">
                <p class="text-2xl my-0">{{ nbClients }}</p>
                <p class="text-sm text-gray-400 my-0">Clients</p>
            </div>
        </div>
        <div class="w-full flex rounded-xl p-8 relative shadow-soft-md bg-white">
            <div class="flex justify-center items-center">
                <div class="bg-orange-200/50 text-orange-700 p-4 rounded-lg  text-xl flex justify-center items-center">
                    {{ icon('scissors') }}
                </div>
            </div>

            <div class="ml-7 flex flex-col align-center">
                <p class="text-2xl my-0">{{ nbRealisations }}</p>
                <p class="text-sm text-gray-400 my-0">Réalisations</p>
            </div>
        </div>
        <div class="w-full flex rounded-xl p-8 relative shadow-soft-md bg-white">
            <div class="flex justify-center items-center">
                <div class="bg-green-200/50 text-green-700 p-4 rounded-lg  text-xl flex justify-center items-center">
                    {{ icon('calendar') }}
                </div>
            </div>

            <div class="ml-7 flex flex-col align-center">
                <p class="text-2xl my-0">{{ nbBookings }}</p>
                <p class="text-sm text-gray-400 my-0">Réservations</p>
            </div>
        </div>
    </section>

    <section class="bg-white rounded-xl shadow-soft px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 1
        <a href="" class="link">Découvrez nos réalisations</a> mais j'aimerais découvrir aussi les <a href=""
                                                                                                      class="link"
                                                                                                      target="_blank">avis
            de nos clients</a>

    </section>

    <section class="bg-white rounded-lg shadow-soft px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 2
    </section>

    <section class="bg-white rounded-lg shadow-soft px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 3
    </section>

    <section class="bg-white rounded-lg shadow-soft px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 4
    </section>

{% endblock %}
