{% extends 'base.html.twig' %}

{% block title %}
    Gérer votre rendez-vous
{% endblock %}

{% block body %}
    <div class="page-header">

        {% include 'partials/flash.html.twig' with {floating: true, duration: 3} %}

        {% if appointment %}
            <div class="container-box grid3 stack-large">
                <div class="stack col-span-2">
                    <div class="flex items-center space-x-4">
                        {% if appointment.statusConfirmed %}
                            <div class="bg-green-100 text-green-900 p-2 rounded-full w-10 h-10 flex items-center justify-center">
                                {{ icon('calendar-check-2') }}
                            </div>
                            <div class="text-sm font-medium text-green-900">Rendez-vous confirmé</div>
                        {% elseif appointment.statusPending %}
                            <div class="bg-orange-100 text-orange-900 p-2 rounded-full w-10 h-10 flex items-center justify-center">
                                {{ icon('calendar-clock') }}
                            </div>
                            <div class="text-sm font-medium text-orange-900">En attente de confirmation</div>
                        {% elseif appointment.statusCanceled %}
                            <div class="bg-red-100 text-red-900 p-2 rounded-full w-10 h-10 flex items-center justify-center">
                                {{ icon('calendar-x-2') }}
                            </div>
                            <div class="text-sm font-medium text-red-900">Rendez-vous annulé</div>
                        {% endif %}
                    </div>

                    <h2 class="h3">{{ appointment.date|date('l j F') }} à {{ appointment.time|date('H:i') }}</h2>

                    <div class="stack-large">
                        <div>
                            <h4 class="h6 text-primary-900 mb-4">Informations personnelles</h4>

                            <div class="stack">
                                <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center">
                                    <div class="flex items-center space-x-2 text-slate-600">
                                        {{ icon('user') }}
                                        <div class="text-sm md:text-base">
                                            Nom
                                        </div>
                                    </div>

                                    <div class="ml-7 md:ml-0 col-span-3 text-sm md:text-base uppercase font-medium">
                                        {{ appointment.client.fullName }}
                                    </div>
                                </div>

                                <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center">
                                    <div class="flex items-center space-x-2 text-slate-600">
                                        {{ icon('mail') }}
                                        <div class="text-sm md:text-base">
                                            Email
                                        </div>
                                    </div>

                                    <div class="ml-7 md:ml-0 col-span-3 text-sm md:text-base uppercase font-medium">
                                        {{ appointment.client.email }}
                                    </div>
                                </div>

                                <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center">
                                    <div class="flex items-center space-x-2 text-slate-600">
                                        {{ icon('phone') }}
                                        <div class="text-sm md:text-base">
                                            Contact
                                        </div>
                                    </div>

                                    <div class="ml-7 md:ml-0 col-span-3 text-sm md:text-base uppercase font-medium">
                                        {{ appointment.client.phone }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mt-8 md:mt-0">
                    {% if appointment.statusPending or appointment.statusConfirmed %}
                        <h3 class="h3">Résumé du paiement</h3>
                        <hr class="my-4">
                        <div class="stack text-muted">
                            <div class="flex justify-between">
                                <span class="text-sm">Prix du rendez-vous</span>
                                <span class="text-sm">{{ appointment.amount }} €</span>
                            </div>

                            <div class="flex justify-between">
                                <span class="text-sm">Taxes</span>
                                <span class="text-sm">0 €</span>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="flex justify-between">
                            <span class="text-base text-muted">Total</span>
                            <h2 class="text-lg font-semibold">{{ appointment.amount }} €</h2>
                        </div>
                    {% elseif appointment.statusCanceled %}
                        <div class="text-muted flex items-center space-x-2 mb-4">
                            Nous sommes navrés que votre rendez-vous ait été annulé. Nous espérons vous revoir bientôt.
                        </div>
                    {% endif %}

                    <div class="mt-6 stack">
                        {% if appointment.statusConfirmed %}
                            {% if appointment.isPaid %}
                                <div class="alert alert-success">
                                    {{ icon('check', 25) }}
                                    Votre rendez-vous a été payé.
                                </div>

                                <a href="" class="btn-md btn-light w-full">
                                    {{ icon('download', 20) }}
                                    Télécharger la facture
                                </a>
                            {% else %}


                                <h3 class=" text-lg font-medium text-gray-900 dark:text-white">
                                    Choisissez votre mode de paiement
                                </h3>

                                <ul class="grid w-full gap-6 md:grid-cols-2">
                                    <li>
                                        <input type="radio" id="payment-now" name="payment-time" value="payment-now"
                                               class="hidden peer" required>
                                        <label for="payment-now"
                                               class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-primary-500 peer-checked:border-primary-600 peer-checked:text-primary-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                                            <div class="block w-full">
                                                <div class="w-full text-xs text-muted">
                                                    <div class="flex justify-center items-center">
                                                        <img src="{{ asset('images/stripe-logo.svg.png') }}"
                                                             alt="Stripe"
                                                             height="80px" width="80px">
                                                    </div>
                                                </div>
                                                <h1 class="w-full text-lg text-center font-semibold">Carte bancaire</h1>
                                            </div>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" id="payment-later" name="payment-time" value="payment-later"
                                               class="hidden peer">
                                        <label for="payment-later"
                                               class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-primary-500 peer-checked:border-primary-600 peer-checked:text-primary-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                                            <div class="block w-full">
                                                <div class="w-full text-xs text-muted">
                                                    <div class="flex justify-center items-center">
                                                        {{ icon('banknote', 40) }}
                                                    </div>
                                                </div>
                                                <h1 class="w-full text-lg text-center font-semibold">En espèces</h1>
                                            </div>
                                        </label>
                                    </li>
                                </ul>

                                <a href="{{ path('app_appointment_payment_start', {id: appointment.id}) }}"
                                   class="btn-md btn-primary w-full" id="payment-button" style="display: none;">
                                    {{ icon('credit-card', 20) }}
                                    <span class="ml-2">
                                        Payer {{ appointment.amount }} €
                                    </span>
                                </a>

                                <a href="{{ path('app_appointment_save_for_later', {id: appointment.id}) }}"
                                   class="btn-md btn-light w-full" id="save-for-later">
                                    {{ icon('bookmark', 20) }}
                                    <span class="ml-2">
                                        Enregistrer pour plus tard
                                    </span>
                                </a>

                                {#                                <a href="" class="btn-md btn-light w-full"> #}
                                {#                                    Annuler le rendez-vous #}
                                {#                                </a> #}
                            {% endif %}
                        {% elseif appointment.statusPending %}
                            <div class="alert alert-warning">
                                {{ icon('clock', 25) }}
                                Votre rendez-vous est en attente de confirmation.
                            </div>
                        {% elseif appointment.statusCanceled %}
                            <div class="alert alert-danger">
                                {{ icon('x', 25) }}
                                Votre rendez-vous a été annulé.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container-box">
                <img src="{{ asset('images/illustrations/booking-calendar-illustration.svg') }}" alt="" height="300px"
                     width="300px"
                     class="mx-auto">
                <h1 class="h3 text-center">Aucun rendez-vous trouvé</h1>
                <p class="text-center text-muted">Vous n'avez pas de rendez-vous à gérer pour le moment.</p>

                <div class="mt-6 text-center">
                    <a href="" class="btn-md btn-primary flex gap-3">
                        {{ icon('calendar-plus', 20) }}
                        Prendre un rendez-vous
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block javascripts__footer %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const paymentNow = document.getElementById('payment-now');
            const paymentLater = document.getElementById('payment-later');
            const paymentButton = document.getElementById('payment-button');
            const saveForLater = document.getElementById('save-for-later');
            // Initial check to display or hide the payment button based on the selected option
            togglePaymentButton();

            paymentNow.addEventListener('change', function () {
                fadeIn(paymentButton);
            });

            paymentLater.addEventListener('change', function () {
                fadeOut(paymentButton);
            });

            function fadeIn(element, duration = 400) {
                element.style.display = 'flex';
                element.style.opacity = 0;
                let last = +new Date();
                let tick = function () {
                    element.style.opacity = +element.style.opacity + (new Date() - last) / duration;
                    last = +new Date();

                    if (+element.style.opacity < 1) {
                        (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16);
                    }
                };
                tick();
            }

            function fadeOut(element, duration = 400) {
                element.style.opacity = 1;
                let last = +new Date();
                let tick = function () {
                    element.style.opacity = +element.style.opacity - (new Date() - last) / duration;
                    last = +new Date();

                    if (+element.style.opacity > 0) {
                        (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16);
                    } else {
                        element.style.display = 'none';
                    }
                };
                tick();
            }

            function togglePaymentButton() {
                if (paymentNow.checked) {
                    fadeIn(paymentButton);
                    fadeOut(saveForLater);
                } else if (paymentLater.checked) {
                    fadeOut(paymentButton);
                    fadeIn(saveForLater);
                }
            }
        });
    </script>
{% endblock %}
