{% extends 'admin/base.html.twig' %}

{% block body %}

    <a href="{{ path('app_admin_shop_settings_holidays') }}"
       class="btn-link mb-4">
        {{ icon('arrow-left', '', 'mr-2') }}
        <span>
            Voir les vacances
        </span>
    </a>

    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            Partir en vacances
        </h4>
    </div>

    <div class="mt-6">
        {{ form_start(form) }}
        <div class="mt-4 grid grid-cols-1 gap-4 card card-custom md:grid-cols-3">
            <div class="col-span-1 flex flex-col justify-start">
                <h6 class="card-section-title">
                    Pourquoi partir en vacances ?
                </h6>
                <p class="card-section-subtitle">
                    Prévenez vos clients que vous partez en vacances.
                </p>
            </div>
            <div class="col-span-2 flex flex-col space-y-3">
                <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-3 sm:grid-cols-2">
                    <div class="col-span-full">
                        {{ form_row(form.title) }}
                    </div>

                    <div class="col-span-full sm:col-span-1">
                        {{ form_row(form.startDate) }}
                    </div>

                    <div class="col-span-full sm:col-span-1">
                        {{ form_row(form.endDate) }}
                    </div>
                </div>
            </div>
        </div>

        <!-- submit btn at right -->
        <div class="border-t border-gray-200 pt-5 sm:col-span-full mb-10">
            <div class="flex justify-end">
                <button type="submit" class="btn btn-md btn-primary">
                    {{ icon('save') }}
                    <span>
                {{ button_label|default('Enregistrer') }}
            </span>
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}

