<div class="block w-full overflow-x-auto">
    <table class="table w-full border-collapse items-center bg-transparent">
        <thead class="bg-gray-50">
        <tr>
            <th>
                ID
            </th>
            <th>
                Nom
            </th>
            <th>
                E-mail
            </th>
            <th>
                Numéro
            </th>
            <th>
                Date d'inscription
            </th>
            <th class="text-center">
                Vérifié
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% if rows is empty %}
            <tr>
                <td colspan="7" class="text-center">
                    Aucune donnée disponible
                </td>
            </tr>
        {% endif %}
        {% for row in rows %}
            {% set link = path(prefix ~ '_edit', {id: row.id}) %}
            <tr>
                <td class="text-left">
                    {{ row.id }}
                </td>
                <td>
                    {{ row.fullname }}
                </td>
                <td>
                    {{ row.email }}
                </td>
                <td>
                    {{ row.phone }}
                </td>
                <td>
                    {{ row.createdAt|date_age }}
                </td>
                <td class="text-center">
                    <div class="badge badge-{% if row.isVerified %}success{% else %}danger{% endif %}">
                        {% if row.isVerified %}
                            Vérifié
                        {% else %}
                            Non vérifié
                        {% endif %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('app_admin_clients_show', {id: row.id}) }}"
                       class="btn-icon">
                        {{ icon('eye') }}
                    </a>
                    <a href="{{ path('app_admin_clients_edit', {id: row.id}) }}"
                       class="btn-icon">
                        {{ icon('pencil') }}
                    </a>
                    <button
                            class="btn-icon modal-button" data-modal-id="modal-id-{{ row.id }}">
                        {{ icon('trash') }}
                    </button>
                </td>
                {% include 'components/_delete-modal.html.twig' with {
                    'id': 'modal-id-' ~ row.id,
                    'title': 'Supprimer le client',
                    'content': 'La suppression est irréversible. Voulez-vous continuer ?',
                    'form_html_element': '<input type="hidden" name="_method" value="DELETE">',
                    'form_action': path(prefix ~ '_edit', {id: row.id}),
                    'csrf_value': csrf_token('delete' ~ row.id),
                    'btn_label': 'Supprimer'
                } %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>