{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            Clients
        </h4>
        <a href="{{ path('app_admin_clients_new') }}"
           class="btn btn-md btn-primary">
            {{ icon('plus') }}
            <span>
                Ajouter
            </span>
        </a>
    </div>

    <div class="mt-2">
        {{ include('partials/flash.html.twig') }}
    </div>

    <div class="card-simple">
        <div class="mb-6 px-4 sm:px-6">
            <div class="flex justify-between">
                <div class="flex-1 flex justify-between">
                    <input type="text" class="form-control" placeholder="Rechercher...">
                </div>
            </div>
        </div>

        <div class="block w-full overflow-x-auto">
            <table class="table w-full border-collapse items-center bg-transparent">
                <thead class="bg-gray-50">
                <tr>
                    <th>
                        <input type="checkbox"
                               class="">
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Numéro
                    </th>
                    <th>
                        Vérifié
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if clients is empty %}
                    <tr>
                        <td colspan="6" class="text-center">
                            Aucun client trouvé.
                        </td>
                    </tr>
                {% endif %}
                {% for client in clients %}
                    <tr>
                        <th class="text-left">
                            <input type="checkbox"
                                   class="">
                        </th>
                        <td>
                            {{ client.fullname }}
                        </td>
                        <td>
                            {{ client.email }}
                        </td>
                        <td>
                            {{ client.phone }}
                        </td>
                        <td>
                            {{ client.verified }}
                        </td>
                        <td>
                            <a href=""
                               class="btn-icon">
                                {{ icon('pencil') }}
                            </a>
                            <button
                                    class="btn-icon modal-button" data-modal-id="modal-id-{{ client.id }}">
                                {{ icon('trash') }}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
