{% extends 'admin/base.html.twig' %}

{% block body %}

    <a href="{{ path('app_admin_clients_index') }}"
       class="btn-link mb-4">
        {{ icon('arrow-left', '', 'mr-2') }}
        <span>
        Liste des clients
    </span>
    </a>

    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            {{ client.fullname }}
        </h4>
        <a href="{{ path('app_admin_clients_edit', {id: client.id}) }}"
           class="btn-md btn-primary">
            {{ icon('pencil', '', 'mr-2') }}
            <span>
            Modifier
        </span>
        </a>
    </div>

    <nav-tabs class="nav-tabs mb-6">
        <a href="#profile"
           class="tab-link"
           data-tab-id="profile">
            {{ icon('user', '', 'mr-2') }}
            Profile
        </a>
        <a href="#appointments"
           class="tab-link"
           data-tab-id="appointments">
            {{ icon('calendar', '', 'mr-2') }}
            Rendez-vous
        </a>
        <a href="#invoices"
           class="tab-link"
           data-tab-id="invoices">
            {{ icon('files', '', 'mr-2') }}
            Factures & Emails
        </a>
    </nav-tabs>

    <div id="profile">

        <div id="profile" class="grid grid-cols-3 gap-6 mt-10 mb-10">
            <div class="col-span-3 sm:col-span-1">
                <div class="card card-padding">
                    <!-- title : Informations -->
                    <div class="flex items-center justify-between">
                        <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-6">Informations</h2>
                    </div>

                    <!-- client informations -->
                    <div class="flex flex-col">
                        <div class="w-full border-b border-gray-200 dark:border-gray-700 mb-4">
                            <h5 class="text-sm font-medium text-gray-900 dark:text-white mb-1">Nom</h5>
                            <p class="text-sm text-gray-600 dark:text-gray-400 mb-2">
                                {{ client.fullname }}
                            </p>
                        </div>
                        <div class="w-full border-b border-gray-200 dark:border-gray-700 mb-4">
                            <h5 class="text-sm font-medium text-gray-900 dark:text-white mb-1">Email</h5>
                            <p class="text-sm text-gray-600 dark:text-gray-400 mb-2">
                                <a href="mailto:{{ client.email }}" class="text-primary-600 hover:text-primary-900">
                                    {{ client.email }}
                                </a>
                            </p>
                        </div>
                        <div class="w-full border-b border-gray-200 dark:border-gray-700">
                            <h5 class="text-sm font-medium text-gray-900 dark:text-white mb-1">Phone</h5>
                            <p class="text-sm text-gray-600 dark:text-gray-400 mb-2">
                                <a href="tel:{{ client.phone }}" class="text-primary-600 hover:text-primary-900">
                                    {{ client.phone }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-span-3 sm:col-span-2">
                <div class="card card-padding mb-6">
                    <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-6">Emails</h2>

                    <label>
                        <select class="form-input-md w-full">
                            <option>Renvoyer la dernière facture</option>
                            <option>Envoyer un rappel de paiement</option>
                            <option>Envoyer un rappel de rendez-vous</option>
                            <option>Envoyer un email de réinitialisation de mot de passe</option>
                            <option>Envoyer un email de confirmation de compte</option>
                        </select>
                    </label>

                    <div class="mt-6">
                        <button class="btn btn-md btn-primary">
                            {{ icon('send', '', 'mr-2') }}
                            Envoyer
                        </button>
                    </div>
                </div>

                <div class="card card-padding">
                    <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-6">
                        Gestion du compte
                    </h2>


                   <div class="text-left">
                       <button class="btn-md btn-danger modal-button" data-modal-id="modal-id-{{ client.id }}">
                           {{ icon('trash', '', 'mr-2') }}
                           Supprimer le compte
                       </button>
                   </div>


                    <p class="mt-6 text-sm text-gray-600 dark:text-gray-400">
                        Supprimer le compte supprimera toutes les données associées à ce compte.
                        Cette action est irréversible.
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div id="invoices">
        <div class="stack-large">
            <div class="stack">
                <h1 class="text-lg md:text-xl font-bold flex items-center">
                    {{ icon('files', 'sm', 'mr-2') }}
                    Factures
                </h1>

                <div class="shadow-custom card card-padding">
                    Les factures seront affichées ici
                </div>
            </div>

            <div class="stack">
                <h1 class="text-lg md:text-xl font-bold flex items-center">
                    {{ icon('mail', 'sm', 'mr-2') }}
                    Emails
                </h1>

                <div class="shadow-custom card card-padding">
                    Les emails seront affichés ici
                </div>
            </div>
        </div>
    </div>

    <div id="appointments">
        <div class="">
            <h1 class="text-lg md:text-xl font-bold mb-6 flex items-center">
                {{ icon('calendar', 'sm', 'mr-2') }}
                Historique des rendez-vous
            </h1>

            {% include 'admin/appointment/_list.html.twig' with {
                'appointments': clientAppointments,
                'emptyMessage': 'Aucun rendez-vous pour ce client.'
            } %}
        </div>
    </div>
{% endblock %}
