{% extends 'admin/layouts/card.html.twig' %}

{% block title %}CategoryService index{% endblock %}
{% block card_title %}Catégories{% endblock %}

{% block card_actions %}
    <a href="{{ path('app_admin_category_service_new') }}"
       class="card-btn-action-primary">
        {{ icon('plus') }}
        <span class="ml-2">Ajouter</span>
    </a>
{% endblock %}

{% block card_body %}
    <div class="overflow-auto">
        <table class="table table-responsive mt-6 font-circularStd w-full">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Articles</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category_service in category_services %}
                <tr>
                    <td>{{ category_service.name }}</td>
                    <td>12</td>
                    <td>
                        <span class="badge badge-success">Actif</span>
                    </td>
                    <td class="table-actions">
                        <a href="{{ path('app_admin_category_service_edit', {'id': category_service.id}) }}"
                           class="card-btn-action">
                            {{ icon('edit') }}
                        </a>
                        <a href="{{ path('app_admin_category_service_delete', {'id': category_service.id}) }}"
                           class="card-btn-action">
                            {{ icon('trash') }}
                        </a>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}