{{ form_start(form) }}
<div class="mt-4 grid grid-cols-1 gap-4 card card-custom md:grid-cols-3">
    <div class="col-span-1 flex flex-col justify-start">
        <h6 class="text-lg font-bold">
            Informations basiques
        </h6>
        <p class="mt-2 text-sm text-gray-500">
            Modifier les informations de base de votre prestation
        </p>
    </div>
    <div class="col-span-2 flex flex-col space-y-3">
        <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-3 sm:grid-cols-2">
            <div class="col-span-full sm:col-span-1">
                {{ form_row(form.name) }}
            </div>

            <div class="sm:col-span-full">
                {{ form_row(form.description) }}
            </div>

            <div class="col-span-full sm:col-span-1">
                {{ form_row(form.price, {
                    'attr': {
                        'class': 'form-input-md'
                    },
                    'label': 'Prix',
                    'label_attr': {
                        'class': 'label'
                    }
                }) }}
            </div>
        </div>
    </div>
</div>

<div class="mt-4 grid grid-cols-1 gap-4 card card-custom md:grid-cols-3">
    <div class="col-span-1 flex flex-col justify-start">
        <h6 class="text-lg font-bold">
            Calendrier
        </h6>
        <p class="mt-2 text-sm text-gray-500">
            Ces informations permettent de définir les disponibilités de votre prestation
        </p>
    </div>
    <div class="col-span-2 flex flex-col space-y-3">
        <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-3 sm:grid-cols-2">

            <div class="col-span-full sm:col-span-1">
                {{ form_row(form.startDate) }}
            </div>

            <div class="col-span-full sm:col-span-1">
                {{ form_row(form.endDate) }}
            </div>

            <div class="col-span-full sm:col-span-1">
                {{ form_row(form.startTime) }}
            </div>

            <div class="col-span-full sm:col-span-1">
                {{ form_row(form.endTime) }}
            </div>

            <div class="col-span-full sm:col-span-1">
                {{ form_row(form.bufferTime) }}
            </div>

        </div>
    </div>
</div>

<div class="mt-4 grid grid-cols-1 gap-4 card card-custom md:grid-cols-3">
    <div class="col-span-1 flex flex-col justify-start">
        <h6 class="text-lg font-bold">
            Personnalisation
        </h6>
        <p class="mt-2 text-sm text-gray-500">
            Ces informations permettent de gérer les options de votre prestation
        </p>
    </div>
    <div class="col-span-2 flex flex-col space-y-3">
        <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-3 sm:grid-cols-2">

            <div class="col-span-full sm:col-span-1">
                {{ form_row(form.duration) }}
            </div>

            <div class="col-span-full sm:col-span-1">
                {{ form_row(form.avalaibleSpacePerService) }}
            </div>

            <div class="sm:col-span-full">
                {{ form_row(form.categories) }}
            </div>
        </div>
    </div>
</div>

<!-- submit btn at right -->
<div class="border-t border-gray-200 pt-5 sm:col-span-full mb-10">
    <div class="flex justify-end">
        <button type="submit" class="btn btn-md btn-primary">
            {{ icon('save') }}
            <span>
                {{ button_label|default('Enregistrer') }}
            </span>
        </button>
    </div>
</div>
{{ form_end(form) }}