{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            Prestations
        </h4>
        <a href="{{ path('app_admin_service_new') }}"
           class="btn btn-md btn-primary">
            {{ icon('plus') }}
            <span>
                Ajouter
            </span>
        </a>
    </div>

    <div class="mt-2">
        {{ include('partials/flash.html.twig') }}
    </div>

    <div class="card-simple">
        <div class="mb-6 px-4 sm:px-6">
            <div class="flex justify-between">
                <div class="flex-1 flex justify-between">
                    <input type="text" class="form-control" placeholder="Rechercher...">
                </div>
            </div>
        </div>

        <div class="block w-full overflow-x-auto">
            <table class="table w-full border-collapse items-center bg-transparent">
                <thead class="bg-gray-50">
                <tr>
                    <th>
                        <input type="checkbox"
                               class="">
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        Durée
                    </th>
                    <th>
                        Tarif
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <th class="text-left">
                            <input type="checkbox"
                                   class="">
                        </th>
                        <td>
                            {{ service.name }}
                        </td>
                        <td>
                            {{ service.duration|duration_format }}
                        </td>
                        <td>
                            {{ service.price|price_format }}
                        </td>
                        <td>
                            <a href="{{ path('app_admin_service_edit', {'id': service.id}) }}"
                               class="btn-icon">
                                {{ icon('pencil') }}
                            </a>
                            <button
                                    class="btn-icon modal-button" data-modal-id="modal-id-{{ service.id }}">
                                {{ icon('trash') }}
                            </button>

                            {% include 'components/_delete-modal.html.twig' with {
                                'id': 'modal-id-' ~ service.id,
                                'title': 'Supprimer la prestation',
                                'content': 'Êtes-vous sûr de vouloir supprimer la prestation ?',
                                'form_action': path('app_admin_service_delete', {'id': service.id}),
                                'csrf_value': csrf_token('delete' ~ service.id),
                                'btn_label': 'Supprimer'
                            } %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}