<div class="modal fixed z-50 inset-0 overflow-y-auto hidden items-center justify-center"
     aria-labelledby="modal-title" role="dialog" aria-modal="true" id="{{ id }}">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <div class="bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:w-96">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                {{ title }}
            </h3>
            <div class="mt-2">
                <p class="text-sm text-gray-500">
                    {{ content }}
                </p>
            </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse gap-2">
            <button type="button"
                    class="btn btn-md btn-outline-primary modal-close">
                Annuler
            </button>
            <form method="post" action="{{ form_action }}">
                <input type="hidden" name="_token" value="{{ csrf_value }}">
                <button class="btn btn-md btn-primary">{{ btn_label }}</button>
            </form>
        </div>
    </div>
</div>
