<modal-dialog id="{{ id }}" hidden="hidden" overlay-close>
    <section class="modal-box">
        <header>{{ title|default('Êtes-vous sûr de vouloir supprimer ?') }}</header>
        <button data-dismiss aria-label="Close" class="modal-close">
            {{ icon('x') }}
        </button>
        <p class="text-muted my-4">
            {{ content|raw }}
        </p>

        <form method="post"
              action="{{ form_action }}">
            <input type="hidden" name="_token"
                   value="{{ csrf_value }}">
            <div class="text-end">
                <button type="button" class="btn-md btn-secondary mr-2" data-dismiss>
                    <span>Annuler</span>
                </button>
                <button type="submit" class="btn-md btn-danger">
                    <span>Supprimer</span>
                </button>
            </div>
        </form>
    </section>
</modal-dialog>