<div class="modal fixed z-50 inset-0 overflow-y-auto hidden items-center justify-center" aria-labelledby="modal-title"
     role="dialog" aria-modal="true" id="{{ id }}">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <div class="bg-white mx-4 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
        <button type="button"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="popup-modal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
            </svg>
            <span class="sr-only">Close modal</span>
        </button>

        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                {{ title }}
            </h3>
            <div class="mt-2">
                <p class="text-sm text-gray-500 whitespace-normal word-break break-all">
                    {{ content|raw }}
                </p>
            </div>
        </div>

        <div class="bg-gray-50 px-4 py-3 sm:px-6 flex justify-end sm:flex-row gap-3">
            <button data-modal-hide="popup-modal" type="button"
                    class="modal-close btn-md ">
                {{ close_btn_label|default('Annuler') }}
            </button>

            <form method="post" action="{{ form_action }}" class="block modal-delete-btn">
                <input type="hidden" name="_token" value="{{ csrf_value }}">
                <button class="btn-md btn-danger mr-2">
                    {{ btn_label }}
                </button>
            </form>
        </div>
    </div>
</div>
