<label class="relative inline-flex cursor-pointer items-center" for="{{ form.vars.id }}">
    <input type="hidden" name="{{ form.vars.full_name }}" value="0">
    <input type="checkbox" name="{{ form.vars.full_name }}"
           id="{{ form.vars.id }}"
           class="sr-only peer" {% if checked %} checked {% endif %}>
    <div class="w-11 h-6 bg-primary-100 peer-focus:outline-none peer-focus:ring-0 peer-focus:ring-primary-300 dark:peer-focus:ring-primary-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-primary-300 after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary-900"></div>
    <span class="ml-3 text-base text-slate-900 form-switch-label dark:text-slate-300">{{ label }}</span>
</label>